<div id="cart" class="top-cart">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn dropdown-toggle"><span id="cart-total">{{ text_items }}</span></button>

  <ul class="dropdown-menu dropdown-menu-right">
    {% if products or vouchers %}
    <li class="product-tbl">
      <table class="table table-sm table-striped">
        <tr class="th-row">
          <th class="pl-3">Hình ảnh</th>
          <th>Tiêu đề</th>
          <th class="text-center">Số lượng</th>
          <th class="text-center" colspan="2">Giá</th>  
        </tr>
        {% for product in products %}
        <tr>
          <td >{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a>
            {% if product.option %}
            {% for option in product.option %}<br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %}<br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-center">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-light btn-remove"><span class="icon-close-g svg"></span></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-light btn-remove"><span class="icon-close-g"></span></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-sm table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right">
        <a class ="btn btn-secondary" href="{{ cart }}"><strong>{{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;
        <a class ="btn btn-primary btn-pink" href="{{ checkout }}"><strong>{{ text_checkout }}</strong></a>
        </p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
