<footer>
  <div class="container">
    <div class="row">
      <div class="infos-footer">
        <a href="#"><img src="image/catalog/hsx-logomdpi.png" alt="image"></a>
        <ul class="list-unstyled">
          <li class="phone">
            <span class="icon-phone-circle-g svg"></span>
            <a href=""> {{ telephone }} </a>
          </li>
          <li class="mail">
            <span class="icon-mail svg"></span>
            <a href=""> {{ email }} </a>
          </li>
          <li class="timer">
            <span class="icon-clock svg"></span>
            Open time: 8:00AM - 6:00PM
          </li>
        </ul>
        
        <p class="social">
          <a href="https://www.facebook.com/hangsieuxin/" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </p>
      </div>

      {% if informations %}
      <div class="box-information">
        <h5 class="title">{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="box-service">
        <h5 class="title">{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="box-account">
        <h5 class="title">{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="powered-info">{{ powered }}</p>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
