
<nav id="menu" class="navbar">
  <a class="small-logo" href="https://hangsieuxin.com"><img src="https://hangsieuxin.com/image/catalog/hangsieuxin.png" alt='logo nhỏ hàng siêu xịn'></a>
  <div class="container">
    <div id="category" class="d-block d-lg-none category">{{ text_category }}</div>
    <button class="navbar-toggler d-block d-sm-block d-lg-none" type="button" data-toggle="collapse" data-target="#narbar-menu"><span class="icon-menu-symbol"></span></button>
    <div class="collapse navbar-collapse" id="narbar-menu">
      <button type="button" onclick="closeMenu()" class="btn btn-close btn-pink"><span class="icon-close-g"></span></button>
      <div class="overlay" onclick="closeMenu()"></div>
      <ul class="navbar-nav">
        {% for category in categories %}
          {% if category.children %}
            <li class="nav-item dropdown"><a href="{{ category.href }}" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
              <div class="dropdown-menu">
                <div class="dropdown-inner">
                  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                    <ul class="list-unstyled">
                      {% for child in children %}
                        <li><a href="{{ child.href }}" class="nav-link">{{ child.name }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </div>
                <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item"><a href="{{ category.href }}" class="nav-link">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}
        {{ tltblog_menu }}
      </ul>
    </div>
  </div>
</nav>

<script>
  function closeMenu() {
    $('#menu .navbar-collapse').removeClass('show');
  }
</script>
