<div id="search" class="input-group mb-3">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg" aria-label="search">
  <div class="input-group-append">
    <button type="button" class="btn btn-light"><span class="icon-search"></span></button>
  </div>
</div>
