.main-heading {
  padding-bottom: rem(20);
}

.tltblog-container .column-left {
  min-width: rem(250);
}

.tltblog {
  padding-bottom: rem(20);

  .img-thumbnail {
    padding: 0;
    width: 100%;
    height: 35.4rem;
    object-fit: cover;
    border-radius: 0;


    @media (max-width: 1199px) {
      height: 32rem;
    }

    @media (max-width: 1024px) {
      height: 29rem;
    }

    @media (max-width: 767px) {
      height: 24rem;
    }
  }

  .description {
    width: 90%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5rem;
    position: relative;
    padding: 2.5rem 1.7rem;
    text-align: center;

    .title {
      font-size: rem(20);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .summary {
      font-weight: 400;
      color: #808080;
      font-size: 1.4rem;
      margin-top: 1rem;
      position: relative;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      height: 8.4rem;
      width: 100%;
      line-height: 1.54;
      letter-spacing: .1px;
      text-align: left;
      text-overflow: ellipsis;
      margin: 0;
      overflow: hidden;
      text-align: center;
    }
  }

  .btn {
    margin: rem(15) auto 0;
    color: #ed1857;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 600;
    letter-spacing: 0.1px;
    padding: rem(7) rem(20);
    border-radius: 0;

    &:hover {
      color: #fff;
      background: #000;
      border-color: #000;
    }
  }
}

.tltblog-row {
  margin: 0 rem(-15);
}

.tltblog-cols {
  padding-bottom: 3rem;

  .blog-item-wrap {
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
  }

  .thumbnails {
    margin: 0;
  }
}
.blog-detail {
  .tags {
    display: flex;
    flex-wrap: wrap;

    a {
      display: block;
      border-radius: 16px;
      padding: rem(5) rem(12);
      border: 1px solid #a80038;
      background: #a80038;
      color: #fff;
      opacity: 0.8;
      transition: opacity .3s ease-in;
      margin-bottom: rem(5);
      white-space: nowrap;

      &:hover {
        opacity: 1;
      }
    }
  }

}

.group-btn {
  display: flex;
  align-items: center;
  height: 6rem;
  justify-content: center;
}

.btn-jittery {
  animation: jittery 4s infinite;
  height: 4rem;
  border: 2px solid #fbf9fa;
  font-size: 1.4rem;
  border-radius: 25px;
  margin-left: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff !important;
}

.btn-orange {
  background: #f53d2d;
}

@keyframes jittery {
  5%, 50% {
    transform: scale(1);
 }
  10% {
    transform: scale(0.9);
 }
  15% {
    transform: scale(1.15);
 }
  20% {
    transform: scale(1.15) rotate(-5deg);
 }
  25% {
    transform: scale(1.15) rotate(5deg);
 }
  30% {
    transform: scale(1.15) rotate(-3deg);
 }
  35% {
    transform: scale(1.15) rotate(2deg);
 }
  40% {
    transform: scale(1.15) rotate(0);
 }
}

/*button type 2*/
.button-pulse .link {
  color: #fff;
  border: 2px solid #fbf9fa;
  border-radius: 25px;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3232a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.button__wrapper {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pulse .button__wrapper:hover .pulsing:before {
  animation: pulsing 0.5s linear infinite;
}

.button-pulse .button__wrapper:hover .pulsing:after {
  animation: pulsing1 0.5s linear infinite;
}

.pulsing {
  width: 99%;
  height: 99%;
  border-radius: 50px;
  z-index: 1;
  position: relative;
}

.pulsing:before, .pulsing:after {
  width: 100%;
  height: 100%;
  border: inherit;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(255, 16, 39, 0.57);
  border-radius: inherit;
  animation: pulsing 2.5s linear infinite;
  display: block;
  content: '';
  position: absolute;
}

.pulsing:after {
  animation: pulsing1 2.5s linear infinite;
}




@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
 }
  20% {
    opacity: 0.5;
 }
  70% {
    opacity: 0.2;
    transform: scaleY(1.8) scaleX(1.4);
 }
  80% {
    opacity: 0;
    transform: scaleY(1.8) scaleX(1.4);
 }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
 }
}

@keyframes pulsing1 {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
 }
  20% {
    opacity: 0.5;
 }
  70% {
    opacity: 0.2;
    transform: scaleY(1.3) scaleX(1.15);
 }
  80% {
    opacity: 0;
    transform: scaleY(1.3) scaleX(1.15);
 }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
 }
}


.block-content h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ed1857;
}

.block-content .summary {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
}

.block-content .summary strong {
  font-weight: 700;
}

.block-content a {
  font-weight: 700;
  border-bottom: 1px solid;
  font-size: 1.6rem;
}

.block-content a:not(:hover) {
  color: #000;
}

.block-content {
  font-size: 1.4rem;
}

.block-content .content {
  padding-top: 1.5rem;
}

.block-content p {
  line-height: 1.5;
}

.block-content .content-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ed1857;
}

.block-content .img-group {
  text-align: center;
  padding: 10px 0;
}

.block-content .img-group .caption-text {
  font-size: 1.2rem;
  color: #808080;
  padding-top: 0.7rem;
}

.block-content .more-info {
  font-weight: 700;
}


.block-content .video {
  text-align: center;
  padding: 2rem 0;
}
.block-content .video iframe {
  max-width: 100%;
}

.recommend-product {
  text-align: center;
  padding-top: 3rem;
}

.recommend-product .product-type {
  padding: 2rem 0 1rem;
  font-size: 1.8rem;
  color: #ed1857;
}

.recommend-product .product-item {
  width: 33%;
  text-align: center;
  padding: 1.5rem;
}

.recommend-product .product-item {
  width: 33%;
  text-align: center;
  padding: 1.5rem;
}

.recommend-product .product-item .caption-text {
  max-width: 50rem;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 4.2rem;
  width: 100%;
  line-height: 1.54;
  letter-spacing: .1px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 991px) {
  .recommend-product .product-item {
    width: 100%;
  }
}

