
<div class="container">
  <h3>{{ heading_title }}</h3>
  <div class="row">
    {% for product in products %}
      <div class="product-layout col">
        <div class="product-thumb transition">
          <button type="button" class="add-wishlist-btn" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span></button>
          <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid"/></a></div>
          <div class="caption">
            <h3 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h3>
            <h4 class="description">{{ product.description }}</h4>
            {% if product.rating %}
              <div class="rating">
                {% for i in 1..5 %}
                  {% if product.rating < i %}
                    <span class="fa fa-stack"><i class="fas fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                    <span class="fa fa-stack">
                    <i class="fas fa-star fa-stack-2x"></i>
                    <i class="fas fa-star-o fa-stack-2x"></i>
                    </span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            {% if product.price %}
              <p class="price">
                {% if not product.special %}
                  {{ product.price }}
                {% else %}
                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                {% endif %}
                {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                {% endif %}
              </p>
            {% endif %}
          </div>
          <div class="button-group">
            <button type="button" class="btn btn-pink add-cart-btn" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span>{{ button_cart }}</span></button>
            {# <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-exchange-alt"></i></button> #}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
