{% if (status) %} 
<div class="bu_top_banners">
  <div class="container">
    <div class="row">
    {% set count = butopbanner|length %}
    
    {% if (count == 1) %}
        
    {% set class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 one-banner" %}
    
    {% elseif (count == 2) %}
    
    {% set class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4" %}
    
    {% elseif (count == 3) %}
    
    {% set class = "col-lg-4 col-md-4 col-sm-4 col-xs-12 mb-4" %}
    
    {% elseif (count == 4) %}
    
    {% set class = "col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4" %}
    
    {% else %} 
    
    {% set class = "col-lg-2 col-md-2 col-sm-3 col-xs-12 mb-4" %}
    
    {% endif %}
    
    {% for key,banner in butopbanner %}         
      <div class="{{ class }}">
        
        <div class="bu-banner bu-hover-effect" style="position: relative;">
          {% if (banner['link'] is defined and banner['link'] != '') %} 
            <a class="top_banner_url" href="{{ banner['link'] }}">
            {% else %} 
            <a class="top_banner_url" href="#">
            {% endif %} 
            <img width="100%" class="top_banner_img main_img" src="{{ constant('HTTPS_SERVER') ~'image/' ~ banner['image'] }}" alt="no image" />
          </a>
          {% if ((banner['heading'] is defined and banner['heading'] != '') or (banner['description'] is defined and banner['description']|trim != '')) %} 
              <div class="bu-text" style="position: absolute; top: 25%; left: 10%;">                    
                  {% if (banner['heading'] is defined and banner['heading'] != '') %} 
                  <h2 class="top_banner_heading">{{ banner['heading'] }}</h2>
                  {% endif %} 
                  {% if (banner['description'] is defined and banner['description']|trim != '') %} 
                  <div class="top_banner_description">
                      <div class="content">{{ banner['description'] }}</div>
                      {% if (banner['link'] is defined and banner['link'] != '') %} 
                        <a class="btn_banner_url info  btn banner-btn" href="{{ banner['link'] }}">Mua ngay</a>
                      {% endif %} 
                  </div>
                  {% endif %}                                           
              </div>
          {% endif %} 
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}