<section class="featured-category">
  <div class="container">
    <div class="top-heading">
      <h3 class="heading"><span>{{ box_title }}</span></h3>
      <!-- <p>{{ box_desc }}</p> -->
    </div>
    <div class="row">
      {% for category in categories %}
        <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ category.href }}"><img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive"/></a></div>
            <div class="caption categoryname">
              <h4 class="title"><a href="{{ category.href }}">{{ category.name }}</a></h4>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>