<div class="tltblog pt-5">
	{% if show_title %}
	<div class="top-heading">
		<h3 class="heading">{{ heading_title }}</h3>
	</div>
	{% endif %}
	<div class="row tltblog">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row tltblog">
				{% for tltblog in tltblogs %}
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 tltblog-cols">
						<div class="blog-item-wrap">
							{% if show_image %}
								<div class="thumbnails ">
									<a href="{{ tltblog.href }}"><img src="{{ tltblog.thumb }}" alt="{{ tltblog.title }}" title="{{ tltblog.title }}" class="img-thumbnail" /></a>
								</div>
								<div class="description">
									<h2 class="title"><a href="{{ tltblog.href }}">{{ tltblog.title }}</a></h2>
									<div>{{ tltblog.intro }}</div>
									<a href="{{ tltblog['href'] }}" class="btn">Xem thêm</a>
								</div>
							{% else %}
								<div class="col-sm-12">
									<h2 class="title"><a href="{{ tltblog.href }}">{{ tltblog.title }}</a></h2>
									<div>{{ tltblog.intro }}</div>
									<a href="{{ tltblog['href'] }}" class="btn">Xem thêm</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
