<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    {% if page_url %}
      this.page.url = '{{ page_url }}';
    {% endif %}
    this.page.identifier = '{{ page_identifier }}';
    this.page.title = '{{ page_title }}';
    this.language = '{{ language }}';
  };

  (function () {
    var d = document, s = d.createElement('script');

    s.src = 'https://{{ disqus_shortname }}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>