{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
  <div class="container-fluid">
    <div class="pull-right">
      <button type="submit" form="form-html" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
    </div>
    <h1>{{ heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">
  {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_library %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_library }}</div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-pencil"></i> <span data-toggle="tooltip" title="{{ version }}">{{ text_edit }}</span></h3>
    </div>
    <div class="panel-body">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-html" class="form-horizontal">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          <li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
          <li><a href="#tab-structured-data" data-toggle="tab">{{ tab_structured_data }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-general">
            {% for language in languages %}
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-path{{ language.language_id }}"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> <span data-toggle="tooltip" title="{{ help_path }}">{{ entry_path }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="tltblog_path[{{ language.language_id }}]" value="{{ tltblog_path[language.language_id] }}" placeholder="{{ entry_path }}" id="input-path{{ language.language_id }}" class="form-control" />
                  {% if error_path[language.language_id] %}
                    <div class="text-danger">{{ error_path[language.language_id] }}</div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-show-path"><span data-toggle="tooltip" title="{{ help_show_path }}">{{ entry_show_path }}</span></label>
              <div class="col-sm-10">
                <select name="tltblog_show_path" id="input-show-path" class="form-control">
                  {% if tltblog_show_path %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                  {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            {% for language in languages %}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-path-title{{ language.language_id }}"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />&nbsp;<span data-toggle="tooltip" title="{{ help_path_title }}">{{ entry_path_title }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="tltblog_path_title[{{ language.language_id }}][path_title]" value="{{ tltblog_path_title[language.language_id].path_title ? tltblog_path_title[language.language_id].path_title : '' }}" placeholder="{{ entry_path_title }}" id="input-path-title{{ language.language_id }}" class="form-control" />
                  {% if error_path_title[language.language_id] %}
                    <div class="text-danger">{{ error_path_title[language.language_id] }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />&nbsp;<span data-toggle="tooltip" title="{{ help_meta }}">{{ entry_meta_title }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="tltblog_meta[{{ language.language_id }}][meta_title]" value="{{ tltblog_meta[language.language_id].meta_title ? tltblog_meta[language.language_id].meta_title : '' }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                  {% if error_meta_title[language.language_id] %}
                    <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-meta-descriprion{{ language.language_id }}"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />&nbsp;<span data-toggle="tooltip" title="{{ help_meta }}">{{ entry_meta_description }}</span></label>
                <div class="col-sm-10">
                  <textarea name="tltblog_meta[{{ language.language_id }}][meta_description]" rows="3" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ tltblog_meta[language.language_id].meta_description ? tltblog_meta[language.language_id].meta_description : '' }}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />&nbsp;<span data-toggle="tooltip" title="{{ help_meta }}">{{ entry_meta_keyword }}</span></label>
                <div class="col-sm-10">
                  <textarea name="tltblog_meta[{{ language.language_id }}][meta_keyword]" rows="3" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ tltblog_meta[language.language_id].meta_keyword ? tltblog_meta[language.language_id].meta_keyword : '' }}</textarea>
                </div>
              </div>
            {% endfor %}
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-seo"><span data-toggle="tooltip" title="{{ help_seo }}">{{ entry_seo }}</span></label>
              <div class="col-sm-10">
                <select name="tltblog_seo" id="input-seo" class="form-control">
                  {% if tltblog_seo and not global_seo_off %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
                {% if global_seo_off %}
                  <div class="text-danger">{{ error_seo_disabled }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-menu"><span data-toggle="tooltip" title="{{ help_menu }}">{{ entry_menu }}</span></label>
              <div class="col-sm-10">
                <select name="tltblog_menu" id="input-menu" class="form-control">
                  {% if tltblog_menu %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_status }}">{{ entry_status }}</span></label>
              <div class="col-sm-10">
                <select name="tltblog_status" id="input-status" class="form-control">
                  {% if tltblog_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-design">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-num-columns"><span data-toggle="tooltip" title="{{ help_num_columns }}">{{ entry_num_columns }}</span></label>
              <div class="col-sm-10">
                <select name="tltblog_num_columns" id="input-num-columns" class="form-control">
                  {% if tltblog_num_columns == '1' %}
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  {% elseif tltblog_num_columns == '2' %}
                    <option value="1">1</option>
                    <option value="2" selected="selected">2</option>
                    <option value="3">3</option>
                  {% else %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected="selected">3</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-blogs-page"><span data-toggle="tooltip" title="{{ help_blogs_page }}">{{ entry_blogs_page }}</span></label>
              <div class="col-sm-10">
                <input type="text" name="tltblog_blogs_page" value="{{ tltblog_blogs_page }}" placeholder="{{ placeholder_blogs_page }}" id="input-blogs-page" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-show-date">{{ entry_show_date }}</label>
              <div class="col-sm-10">
                <select name="tltblog_show_date" id="input-show-date" class="form-control">
                  {% if tltblog_show_date %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                  {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-date-format"><span data-toggle="tooltip" title="{{ help_date_format }}">{{ entry_date_format }}</span></label>
              <div class="col-sm-10">
                <input type="text" name="tltblog_date_format" value="{{ tltblog_date_format }}" placeholder="{{ entry_date_format }}" id="input-date-format" class="form-control" />
                {% if error_date_format %}
                  <div class="text-danger">{{ error_date_format }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-show-image"><span data-toggle="tooltip" title="{{ help_show_image }}">{{ entry_show_image }}</span></label>
              <div class="col-sm-10">
                <select name="tltblog_show_image" id="input-show-image" class="form-control">
                  {% if tltblog_show_image %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                  {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
              <div class="col-sm-10">
                <input type="text" name="tltblog_width" value="{{ tltblog_width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                {% if error_width %}
                  <div class="text-danger">{{ error_width }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
              <div class="col-sm-10">
                <input type="text" name="tltblog_height" value="{{ tltblog_height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                {% if error_height %}
                  <div class="text-danger">{{ error_height }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-structured-data">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-schemaorg">{{ entry_schemaorg }}</label>
            <div class="col-sm-9">
              <select name="tltblog_schemaorg" id="input-schemaorg" class="form-control">
                {% if tltblog_schemaorg %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-schemaorg-image"><span data-toggle="tooltip" title="{{ help_schemaorg_image }}">{{ entry_schemaorg_image }}</span></label>
            <div class="col-sm-9">
              <select name="tltblog_schemaorg_image" id="input-schemaorg-image" class="form-control">
                {% if tltblog_schemaorg_image %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-twitter"><span data-toggle="tooltip" title="{{ help_twitter_status }}">{{ entry_twitter }}</span></label>
            <div class="col-sm-9">
              <select name="tltblog_twitter" id="input-twitter" class="form-control">
                {% if tltblog_twitter %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-twitter-card">{{ entry_twitter_card }}</label>
            <div class="col-sm-9">
              <select name="tltblog_twitter_card" id="input-twitter-card" class="form-control">
                {% if tltblog_twitter_card %}
                  <option value="1" selected="selected">{{ text_large_image }}</option>
                  <option value="0">{{ text_summary }}</option>
                {% else %}
                  <option value="1">{{ text_large_image }}</option>
                  <option value="0" selected="selected">{{ text_summary }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-twitter-name">{{ entry_twitter_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="tltblog_twitter_name" value="{{ tltblog_twitter_name }}" placeholder="{{ placeholder_username }}" id="input-twitter-name" class="form-control" />
              {% if error_twitter_name %}
                <div class="text-danger">{{ error_twitter_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-facebook"><span data-toggle="tooltip" title="{{ help_facebook_status }}">{{ entry_facebook }}</span></label>
            <div class="col-sm-9">
              <select name="tltblog_facebook" id="input-twitter" class="form-control">
                {% if tltblog_facebook %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-facebook-name">{{ entry_facebook_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="tltblog_facebook_name" value="{{ tltblog_facebook_name }}" placeholder="{{ entry_facebook_name }}" id="input-facebook-name" class="form-control" />
              {% if error_facebook_name %}
                <div class="text-danger">{{ error_facebook_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-facebook-appid">{{ entry_facebook_appid }}</label>
            <div class="col-sm-9">
              <input type="text" name="tltblog_facebook_appid" value="{{ tltblog_facebook_appid }}" placeholder="{{ entry_facebook_appid }}" id="input-facebook-appid" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-facebook-page"><span data-toggle="tooltip" title="{{ help_facebook_page }}">{{ entry_facebook_page }}</span></label>
            <div class="col-sm-9">
              <input type="text" name="tltblog_facebook_page" value="{{ tltblog_facebook_page }}" placeholder="{{ entry_facebook_page }}" id="input-facebook-page" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-resize-image"><span data-toggle="tooltip" title="{{ help_resize_image }}">{{ entry_resize_image }}</span></label>
            <div class="col-sm-9">
              <select name="tltblog_resize_image" id="input-resize-image" class="form-control">
                {% if tltblog_resize_image %}
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  <option value="0">{{ text_no }}</option>
                {% else %}
                  <option value="1">{{ text_yes }}</option>
                  <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{ footer }}