{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tlttag" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tlttag" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                  <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />&nbsp;{{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                  <div class="tab-pane" id="language{{ language.language_id }}">
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="tlttag_description[{{ language.language_id }}][title]" value="{{ tlttag_description[language.language_id]['title'] is defined ? tlttag_description[language.language_id]['title'] : '' }}" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" class="form-control" />
                        {% if error_title[language.language_id] is defined %}
                          <div class="text-danger">{{ error_title[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-keyword{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_keyword }}">{{ entry_keyword }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="keyword[{{ language.language_id }}]" value="{{ keyword[language.language_id] is defined ? keyword[language.language_id] : '' }}" placeholder="{{ entry_keyword }}" id="input-keyword{{ language.language_id }}" class="form-control" />
                        {% if error_keyword[language.language_id] is defined %}
                          <div class="text-danger">{{ error_keyword[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="tlttag_description[{{ language.language_id }}][meta_title]" value="{{ tlttag_description[language.language_id]['meta_title'] is defined ? tlttag_description[language.language_id]['meta_title'] : '' }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                        {% if error_meta_title[language.language_id] is defined %}
                          <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="tlttag_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ tlttag_description[language.language_id]['meta_description'] is defined ? tlttag_description[language.language_id]['meta_description'] : '' }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                      <div class="col-sm-10">
                        <textarea name="tlttag_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ tlttag_description[language.language_id]['meta_keyword'] is defined ? tlttag_description[language.language_id]['meta_keyword'] : '' }}</textarea>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-data">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-in-sitemap"><span data-toggle="tooltip" title="{{ help_show_in_sitemap }}">{{ entry_show_in_sitemap }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if show_in_sitemap %}
                        <input type="checkbox" name="show_in_sitemap" value="1" checked="checked" id="input-show-in-sitemap" />
                      {% else %}
                        <input type="checkbox" name="show_in_sitemap" value="1" id="input-show-in-sitemap" />
                      {% endif %}
                      &nbsp;</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    <div class="checkbox">
                      <label>
                        {% if 0 in tlttag_store %}
                          <input type="checkbox" name="tlttag_store[]" value="0" checked="checked" />
                          {{ text_default }}
                        {% else %}
                          <input type="checkbox" name="tlttag_store[]" value="0" />
                          {{ text_default }}
                        {% endif %}
                      </label>
                    </div>
                    {% for store in stores %}
                      <div class="checkbox">
                        <label>
                          {% if store.store_id in tlttag_store %}
                            <input type="checkbox" name="tlttag_store[]" value="{{ store.store_id }}" checked="checked" />
                            {{ store.name }}
                          {% else %}
                            <input type="checkbox" name="tlttag_store[]" value="{{ store.store_id }}" />
                            {{ store.name }}
                          {% endif %}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#language a:first').tab('show');

    {% for language in languages %}
    $('#input-title{{ language.language_id }}').change(function () {
        var title = $('#input-title{{ language.language_id }}').val();
        var seo = $('#input-keyword{{ language.language_id }}').val();

        if (title.length !== 0 && seo.length === 0) {
            $('#input-keyword{{ language.language_id }}').val(tltslug(title));
        }
    });
    {% endfor %}
  </script></div>
{{ footer }}