{{ header }}
<div id="account-affiliate" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>{{ text_my_affiliate }}</legend>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-company">{{ entry_company }}</label>
            <div class="col-sm-10">
              <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-website">{{ entry_website }}</label>
            <div class="col-sm-10">
              <input type="text" name="website" value="{{ website }}" placeholder="{{ entry_website }}" id="input-website" class="form-control"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ text_payment }}</legend>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-tax">{{ entry_tax }}</label>
            <div class="col-sm-10">
              <input type="text" name="tax" value="{{ tax }}" placeholder="{{ entry_tax }}" id="input-tax" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_payment }}</label>
            <div class="col-sm-10">
              <div class="form-check">
                <label>{% if payment == 'cheque' %}
                    <input type="radio" name="payment" value="cheque" class="form-check-input" checked="checked"/>
                  {% else %}
                    <input type="radio" name="payment" value="cheque" class="form-check-input"/>
                  {% endif %}
                  {{ text_cheque }}</label>
              </div>
              <div class="form-check">
                <label>{% if payment == 'paypal' %}
                    <input type="radio" name="payment" value="paypal" class="form-check-input" checked="checked"/>
                  {% else %}
                    <input type="radio" name="payment" value="paypal" class="form-check-input"/>
                  {% endif %}
                  {{ text_paypal }}</label>
              </div>
              <div class="form-check">
                <label>{% if payment == 'bank' %}
                    <input type="radio" name="payment" value="bank" class="form-check-input" checked="checked"/>
                  {% else %}
                    <input type="radio" name="payment" value="bank" class="form-check-input"/>
                  {% endif %}
                  {{ text_bank }}</label>
              </div>
            </div>
          </div>
          <div class="form-group row required payment" id="payment-cheque">
            <label class="col-sm-2 col-form-label" for="input-cheque">{{ entry_cheque }}</label>
            <div class="col-sm-10">
              <input type="text" name="cheque" value="{{ cheque }}" placeholder="{{ entry_cheque }}" id="input-cheque" class="form-control"/>
              {% if error_cheque %}
                <div class="text-danger">{{ error_cheque }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required payment" id="payment-paypal">
            <label class="col-sm-2 col-form-label" for="input-paypal">{{ entry_paypal }}</label>
            <div class="col-sm-10">
              <input type="text" name="paypal" value="{{ paypal }}" placeholder="{{ entry_paypal }}" id="input-paypal" class="form-control"/>
              {% if error_paypal %}
                <div class="text-danger">{{ error_paypal }}</div>
              {% endif %}
            </div>
          </div>
          <div id="payment-bank" class="payment">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="input-bank-name">{{ entry_bank_name }}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bank_name }}" id="input-bank-name" class="form-control"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="input-bank-branch-number">{{ entry_bank_branch_number }}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" placeholder="{{ entry_bank_branch_number }}" id="input-bank-branch-number" class="form-control"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="input-bank-swift-code">{{ entry_bank_swift_code }}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" placeholder="{{ entry_bank_swift_code }}" id="input-bank-swift-code" class="form-control"/>
              </div>
            </div>
            <div class="form-group required row">
              <label class="col-sm-2 col-form-label" for="input-bank-account-name">{{ entry_bank_account_name }}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_account_name" value="{{ bank_account_name }}" placeholder="{{ entry_bank_account_name }}" id="input-bank-account-name" class="form-control"/>
                {% if error_bank_account_name %}
                  <div class="text-danger">{{ error_bank_account_name }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required row">
              <label class="col-sm-2 col-form-label" for="input-bank-account-number">{{ entry_bank_account_number }}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_account_number" value="{{ bank_account_number }}" placeholder="{{ entry_bank_account_number }}" id="input-bank-account-number" class="form-control"/>
                {% if error_bank_account_number %}
                  <div class="text-danger">{{ error_bank_account_number }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          {% for custom_field in custom_fields %}
            {% if custom_field.location == 'affiliate' %}
              {% if custom_field.type == 'select' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        {% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == affiliate_custom_field[custom_field.custom_field_id] %}
                          <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                        {% else %}
                          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'radio' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        <div class="form-check">
                          {% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == affiliate_custom_field[custom_field.custom_field_id] %}
                            <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
                              {{ custom_field_value.name }}</label>
                          {% else %}
                            <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                              {{ custom_field_value.name }}</label>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'checkbox' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        <div class="form-check">
                          {% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in affiliate_custom_field[custom_field.custom_field_id] %}
                            <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
                              {{ custom_field_value.name }}</label>
                          {% else %}
                            <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                              {{ custom_field_value.name }}</label>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'text' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'textarea' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'file' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
                    <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'date' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div class="input-group date">
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'time' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div class="input-group time">
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'datetime' %}
                <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div class="input-group datetime">
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </fieldset>
        {% if text_agree %}
          <div class="pt-2 pd-2 d-inline-block w-100">
            <div class="float-right">{{ text_agree }}
              {% if agree %}
                <input type="checkbox" name="agree" value="1" checked="checked"/>
              {% else %}
                <input type="checkbox" name="agree" value="1"/>
              {% endif %}
              &nbsp;
              <button type="submit" id="button-confirm" class="btn btn-primary btn-pink">{{ button_continue }}</button>
            </div>
          </div>
        {% else %}
          <div class="d-inline-block pt-2 pd-2 w-100">
            <div class="float-right">
              <button type="submit" class="btn btn-primary btn-pink">{{ button_continue }}</button>
            </div>
          </div>
        {% endif %}
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('input[name=\'payment\']').on('change', function() {
	$('.payment').hide();

	$('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
<script type="text/javascript"><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	'format': 'YYYY-MM-DD',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});

$('.time').datetimepicker({
	'format': 'HH:mm',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});

$('.datetime').datetimepicker({
	'format': 'YYYY-MM-DD HH:mm',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});
//--></script>
{{ footer }}
