{{ header }}
<div id="account-download" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if downloads %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-right">{{ column_order_id }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_size }}</td>
                <td class="text-left">{{ column_date_added }}</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for download in downloads %}
                <tr>
                  <td class="text-right">{{ download.order_id }}</td>
                  <td class="text-left">{{ download.name }}</td>
                  <td class="text-left">{{ download.size }}</td>
                  <td class="text-left">{{ download.date_added }}</td>
                  <td><a href="{{ download.href }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-primary btn-pink"><i class="fas fa-cloud-download-alt"></i></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_no_results }}</p>
      {% endif %}
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-right"><a href="{{ continue }}" class="btn btn-primary  btn-pink">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
