{{ header }}
<div id="account-newsletter" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">{{ entry_newsletter }}</label>
            <div class="col-md-9">
              {% if newsletter %}
              <div class="form-check form-check-inline">
                <input type="radio" name="newsletter" value="1" id="input-newsletter-yes" class="form-check-input" checked="checked"/>
                <label for="input-newsletter-yes" class="col-form-label">{{ text_yes }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" name="newsletter" value="0" id="input-newsletter-no" class="form-check-input"/>
                <label for="input-newsletter-no" class="col-form-label">{{ text_no }}</label>
              </div>
              {% else %}
              <div class="form-check form-check-inline">
                <input type="radio" name="newsletter" value="1" id="input-newsletter-yes" class="form-check-input"/>
                <label for="input-newsletter-yes" class="col-form-label">{{ text_yes }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" name="newsletter" value="0" id="input-newsletter-no" class="form-check-input" checked="checked"/>
                <label for="input-newsletter-no" class="col-form-label">{{ text_no }}</label>
              </div>
            </div>
            {% endif %}
          </div>
        </fieldset>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-left"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
          <div class="float-right">
            <button type="submit" class="btn btn-primary btn-pink">{{ button_continue }}</button>
          </div>
        </div>
      </form>
      {{ content_bottom }}
    </div>
    {{ column_right }}</div>
</div>
{{ footer }}
