{{ header }}
<div id="account-password" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>{{ text_password }}</legend>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="input-password">{{ entry_password }}</label>
            <div class="col-md-9">
              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
              {% if error_password %}
              <div class="text-danger">{{ error_password }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="input-confirm">{{ entry_confirm }}</label>
            <div class="col-md-9">
              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
              {% if error_confirm %}
              <div class="text-danger">{{ error_confirm }}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-left"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
          <div class="float-right">
            <button type="submit" class="btn btn-primary btn-pink">{{ button_continue }}</button>
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
