{{ header }}
<div id="account-recurring" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if recurrings %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-right">{{ column_order_recurring_id }}</td>
                <td class="text-left">{{ column_product }}</td>
                <td class="text-left">{{ column_status }}</td>
                <td class="text-left">{{ column_date_added }}</td>
                <td class="text-right"></td>
              </tr>
            </thead>
            <tbody>
              {% for recurring in recurrings %}
                <tr>
                  <td class="text-right">#{{ recurring.order_recurring_id }}</td>
                  <td class="text-left">{{ recurring.product }}</td>
                  <td class="text-left">{{ recurring.status }}</td>
                  <td class="text-left">{{ recurring.date_added }}</td>
                  <td class="text-right"><a href="{{ recurring.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fas fa-eye"></i></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="text-right">{{ pagination }}</div>
      {% else %}
        <p>{{ text_no_results }}</p>
      {% endif %}
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-right"><a href="{{ continue }}" class="btn btn-primary btn-pink">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
