{{ header }}
<div id="account-reward" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_total }} <b>{{ total }}</b>.</p>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-left">{{ column_date_added }}</th>
              <th class="text-left">{{ column_description }}</th>
              <th class="text-right">{{ column_points }}</th>
            </tr>
          </thead>
          <tbody>
            {% if rewards %}
              {% for reward in rewards %}
                <tr>
                  <td class="text-left">{{ reward.date_added }}</td>
                  <td class="text-left">{% if reward.order_id %} <a href="{{ reward.href }}">{{ reward.description }}</a> {% else %}
                      {{ reward.description }}
                    {% endif %}</td>
                  <td class="text-right">{{ reward.points }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td class="text-center" colspan="3">{{ text_no_results }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-right"><a href="{{ continue }}" class="btn btn-primary btn-pink">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
