{{ header }}
<div id="checkout-cart" class="container main checkout-cart">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
    <div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ attention }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}
        {% if weight %}
          &nbsp;({{ weight }})
        {% endif %} </h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
                <tr>
                  <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a> {% endif %}</td>
                  <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                    {% if product.option %}
                      {% for option in product.option %}
                        <br/>
                        <small>{{ option.name }}: {{ option.value }}</small>
                      {% endfor %}
                    {% endif %}
                    {% if product.reward %}
                      <br/>
                      <small>{{ product.reward }}</small>
                    {% endif %}
                    {% if product.recurring %}
                      <br/>
                      <span class="label label-info">{{ text_recurring_item }}</span>
                      <small>{{ product.recurring }}</small>
                    {% endif %}</td>
                  <td class="text-left">{{ product.model }}</td>
                  <td class="text-left">
                    <div class="input-group">
                      <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control">
                      <div class="input-group-append">
                        <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-edit"><span class="icon-edit svg"></span></button>
                        <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-remove" onclick="cart.remove('{{ product.cart_id }}');"><span class="icon-close-g svg"></span></button>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">{{ product.price }}</td>
                  <td class="text-right">{{ product.total }}</td>
                </tr>
              {% endfor %}
              {% for voucher in vouchers %}
                <tr>
                  <td></td>
                  <td class="text-left">{{ voucher.description }}</td>
                  <td class="text-left"></td>
                  <td class="text-left">
                    <div class="input-group">
                      <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control"/>
                      <div class="input-group-append">
                        <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><span class="icon-close-g"></span></button>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">{{ voucher.amount }}</td>
                  <td class="text-right">{{ voucher.amount }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
      {# {% if modules %}
        <h2>{{ text_next }}</h2>
        <p>{{ text_next_choice }}</p>
        <div id="accordion">
          {% for module in modules %}
            {{ module }}
          {% endfor %}
        </div>
      {% endif %} #}
      <br/>
      <div class="row">
        <div class="col-md-4 offset-md-8">
          <table class="table table-bordered">
            {% for total in totals %}
              <tr>
                <td class="text-right"><strong>{{ total.title }}:</strong></td>
                <td class="text-right">{{ total.text }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-left"><a href="{{ continue }}" class="btn btn-light">{{ button_shopping }}</a></div>
        <div class="float-right"><a href="{{ checkout }}" class="btn btn-primary btn-pink">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
