<div class="row main">
  <div class="col-sm-6 pb-5">
    <h2>{{ text_new_customer }}</h2>
    <p>{{ text_checkout }}</p>
    <div class="form-check">
			{% if account == 'register' %}
				<input type="radio" id="ac-register" name="account" value="register" class="form-check-input" checked="checked"/>
			{% else %}
				<input type="radio" id="ac-register" name="account" value="register" class="form-check-input"/>
			{% endif %}
      <label for="ac-register">
        {{ text_register }}
      </label>
    </div>
    {% if checkout_guest %}
      <div class="form-check">
				{% if account == 'guest' %}
					<input type="radio" id="ac-guest" name="account" value="guest" class="form-check-input" checked="checked"/>
				{% else %}
					<input type="radio" id="ac-guest" name="account" value="guest" class="form-check-input"/>
				{% endif %}
        <label for="ac-guest">
          {{ text_guest }}
        </label>
      </div>
    {% endif %}
    <p>{{ text_register_account }}</p>
    <button type="button" id="button-account" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-pink">{{ button_continue }}</button>
  </div>
  <div class="col-sm-6 pb-4">
    <h2>{{ text_returning_customer }}</h2>
    <p>{{ text_i_am_returning_customer }}</p>
    <div class="form-group">
      <label for="input-email" class="col-form-label">{{ entry_email }}</label> <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="input-password" class="col-form-label">{{ entry_password }}</label> <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control mb-5"/> 
    </div>
    <button type="button" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-pink mb-4">{{ button_login }}</button><br>
    <a href="{{ forgotten }}">{{ text_forgotten }}</a>
  </div>
</div>
