{% if addresses %}
  <div class="form-check">
    <input class="form-check-input" type="radio" id ="address-existing" name="payment_address" value="existing" checked="checked"/>
    <label for="address-existing">{{ text_address_existing }}</label>
  </div>
  <div id="payment-existing" class="mt-3 mb-3">
    <select name="address_id" class="form-control">
      {% for address in addresses %}
        {% if address['address_id'] == address_id %}
          <option value="{{ address.address_id }}" selected="selected">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.zone }}, {{ address.country }}</option>
        {% else %}
          <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.zone }}, {{ address.country }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-check">
    <input class="form-check-input" id="new-address" type="radio" name="payment_address" value="new"> 
    <label for="new-address">{{ text_address_new }}</label>
  </div>
{% endif %}
<br/>
<div id="payment-new" style="display: {% if addresses %}none{% else %}block{% endif %};">
  <div class="form-group row required">
    <label class="col-sm-2 col-form-label" for="input-payment-firstname">{{ entry_firstname }}</label>
    <div class="col-sm-10">
      <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control"/>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-2 col-form-label" for="input-payment-lastname">{{ entry_lastname }}</label>
    <div class="col-sm-10">
      <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control"/>
    </div>
  </div>
  <div class="form-group row d-none">
    <label class="col-sm-2 col-form-label" for="input-payment-company">{{ entry_company }}</label>
    <div class="col-sm-10">
      <input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control"/>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-2 col-form-label" for="input-payment-zone">{{ entry_zone }}</label>
    <div class="col-sm-10">
      <select name="zone_id" id="input-payment-zone" class="form-control"> </select>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-2 col-form-label" for="input-payment-address-1">{{ entry_address_1 }}</label>
    <div class="col-sm-10">
      <input type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control"/>
    </div>
  </div>
  <div class="form-group row d-none">
    <label class="col-sm-2 col-form-label" for="input-payment-address-2">{{ entry_address_2 }}</label>
    <div class="col-sm-10">
      <input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control"/>
    </div>
  </div>
  <div class="form-group row required d-none">
    <label class="col-sm-2 col-form-label" for="input-payment-city">{{ entry_city }}</label>
    <div class="col-sm-10">
      <input type="text" name="city" value="abc" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control"/>
    </div>
  </div>
  <div class="form-group row required d-none">
    <label class="col-sm-2 col-form-label" for="input-payment-postcode">{{ entry_postcode }}</label>
    <div class="col-sm-10">
      <input type="text" name="postcode" value="70000" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control"/>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-2 col-form-label" for="input-payment-country">{{ entry_country }}</label>
    <div class="col-sm-10">
      <select name="country_id" id="input-payment-country" class="form-control">
        <option value="">{{ text_select }}</option>
        {% for country in countries %}
          {% if country.country_id == country_id %}
            <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
          {% else %}
            <option value="{{ country.country_id }}">{{ country.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  {% for custom_field in custom_fields %}
    {% if custom_field.type == 'select' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">
            <option value="">{{ text_select }}</option>
            {% for custom_field_value in custom_field.custom_field_value %}
              <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'radio' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
            {% for custom_field_value in custom_field.custom_field_value %}
              <div class="form-check">
                <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/> {{ custom_field_value.name }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'checkbox' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
            {% for custom_field_value in custom_field.custom_field_value %}
              <div class="form-check">
                <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'text' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'textarea' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'file' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <button type="button" id="button-payment-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
          <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field{{ custom_field.custom_field_id }}"/>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'date' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <div class="input-group date">
            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'time' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <div class="input-group time">
            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if custom_field.type == 'datetime' %}
      <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="col-sm-2 col-form-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="col-sm-10">
          <div class="input-group datetime">
            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="d-inline-block pt-2 pd-2 w-100">
  <div class="float-left mb-4">
    <button type="button" id="button-payment-address" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-pink">{{ button_continue }}</button>
  </div>
</div>
<script type="text/javascript"><!--
$('input[name=\'payment_address\']').on('change', function() {
	if (this.value == 'new') {
		$('#payment-existing').hide();
		$('#payment-new').show();
	} else {
		$('#payment-existing').show();
		$('#payment-new').hide();
	}
});
//--></script>
<script type="text/javascript"><!--
// Sort the custom fields
$('#collapse-payment-address .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group').eq(parseInt($(this).attr('data-sort'))+2).before(this);
	}

	if ($(this).attr('data-sort') > $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-payment-address button[id^=\'button-payment-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input[name^=\'custom_field\']').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-payment-address select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#collapse-payment-address select[name=\'country_id\']').prop('disabled', true);
		},
		complete: function() {
			$('#collapse-payment-address select[name=\'country_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('#collapse-payment-address select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#collapse-payment-address select[name=\'country_id\']').trigger('change');
//--></script>
