{% if error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
  <p>{{ text_payment_method }}</p>
  {% for payment_method in payment_methods %}
    <div class="form-check">
        {% if payment_method.code == code or not code %}
          {% set code = payment_method.code %}
          <input type="radio" id="{{ payment_method.code }}" name="payment_method" value="{{ payment_method.code }}" class="form-check-input" checked="checked"/>
        {% else %}
          <input type="radio" id="{{ payment_method.code }}" name="payment_method" value="{{ payment_method.code }}" class="form-check-input"/>
        {% endif %}
      <label for="{{ payment_method.code }}">
        {{ payment_method.title }}
        {% if payment_method.terms %}
          ({{ payment_method.terms }})
        {% endif %}
      </label>
    </div>
  {% endfor %}
{% endif %}
<br/>
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="6" class="form-control">{{ comment }}</textarea>
</p>
{% if text_agree %}
  <div class="d-inline-block pt-2 pd-2 w-100">
    <div class="float-left mb-4">
      {% if agree %}
        <input type="checkbox" id="agree-term" name="agree" value="1" checked="checked"/>
      {% else %}
        <input type="checkbox" id="agree-term" name="agree" value="1"/>
      {% endif %}
      <label for="agree-term">
      {{ text_agree }}
      </label>
      <br>
      <br>
      <button type="button" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-pink">{{ button_continue }}</button>
    </div>
  </div>
{% else %}
  <div class="d-inline-block pt-2 pd-2 w-100">
    <div class="float-left mb-4">
      <button type="button" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-pink">{{ button_continue }}</button>
    </div>
  </div>
{% endif %}
