{% if error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
  <p>{{ text_shipping_method }}</p>
  {% for shipping_method in shipping_methods %}
    <p><strong>{{ shipping_method.title }}</strong></p>
    {% if not shipping_method.error %}
      {% for quote in shipping_method.quote %}
        <div class="form-check">
					{% if quote.code == code or not code %}
						{% set code = quote.code %}
						<input type="radio" id="{{ quote.code }}" name="shipping_method" value="{{ quote.code }}" class="form-check-input" checked="checked"/>
					{% else %}
						<input type="radio" id="{{ quote.code }}" name="shipping_method" value="{{ quote.code }}" class="form-check-input"/>
					{% endif %}
					<label for="{{ quote.code }}">
            {{ quote.title }} - {{ quote.text }}
          </label>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
    {% endif %}
  {% endfor %}
{% endif %}
<br/>
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="6" class="form-control">{{ comment }}</textarea>
</p>
<div class="d-inline-block pt-2 pd-2 w-100">
  <div class="float-left mb-4">
    <button type="button" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-pink">{{ button_continue }}</button>
  </div>
</div>
