<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
	<html
	dir="{{ direction }}" lang="{{ lang }}"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<title>{{ title }}</title>
		<base href="{{ base }}"/>
		{% if description %}
			<meta name="description" content="{{ description }}"/>
		{% endif %}
		{% if keywords %}
			<meta name="keywords" content="{{ keywords }}"/>
		{% endif %}
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,400i,500,500i,600,600i,700&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/js/swiper.js"></script>
		<!--<script src="catalog/view/theme/hangsieuxin/js/bundle.js" type="text/javascript"></script>-->
		
		{% for style in styles %}
			<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
		{% endfor %}
		{% for script in scripts %}
			<script src="{{ script }}" type="text/javascript"></script>
		{% endfor %}
  	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
		{% for link in links %}
			<link href="{{ link.href }}" rel="{{ link.rel }}"/>
		{% endfor %}
		<link href="catalog/view/theme/hangsieuxin/stylesheet/stylesheet.css" rel="stylesheet">
		{% for analytic in analytics %}
			{{ analytic }}
		{% endfor %}
{% for metatag in tlt_metatags %}
<meta {{ metatag.type }}="{{ metatag.name }}" content="{{ metatag.content }}" />
{% endfor %}
	</head>
	<body>
		<nav id="top" class="top-nav">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-8 pull-left">
						<div class="phone-s">
							Liên hệ online:
							<a href="{{ contact }}">
								<i class="fa fa-phone"></i>
								<span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span>
							</a>
						</div>
						<div class="content text-center">
								<p>Đừng bao giờ cạnh tranh về giá, thay vì thế, hãy cạnh tranh về dịch vụ và sự đổi mới.</p>
						</div>
					</div>
					<div class="col-sm-12 col-lg-4 nav pull-right" id="top-links">
						<ul class="list-inline">
							<li>
								<a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
									<i class="fa fa-heart"></i>
									<span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span>
								</a>
							</li>
							{% if logged %}
							<li class="dropdown">
								<a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle pr-4" data-toggle="dropdown">
									<i class="fa fa-user"></i>
									<span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-right dropdown-custom">
										<li>
											<a href="{{ account }}">{{ text_account }}</a>
										</li>
										<li>
											<a href="{{ order }}">{{ text_order }}</a>
										</li>
										<li>
											<a href="{{ transaction }}">{{ text_transaction }}</a>
										</li>
										<li>
											<a href="{{ download }}">{{ text_download }}</a>
										</li>
										<li>
											<a href="{{ logout }}">
											{{ text_logout }}
											</a>
										</li>
								</ul>
							</li>
							{% else %}
								<li>
									<a href="{{ register }}">{{ text_register }}</a>
								</li>
								<li>
									<a href="{{ login }}">{{ text_login }}</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<header class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 logo-block">
						<div id="logo">
							{% if logo %}
								<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/></a>
							{% else %}
								<h1>
									<a href="{{ home }}">{{ name }}</a>
								</h1>
							{% endif %}
						</div>
					</div>
					<div class="col-sm-5 search-block">{{ search }}</div>
					<div class="col-sm-3 cart-block">
						<a class="link" href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">
							<span class="icon-cart-1 svg"></span>
							<span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span>
						</a>
						{{ cart }}
          </div>
				</div>
			</div>
		</header>
		{{ menu }}
	</body>
</html>
