{{ header }}
<div id="product-category" class="product-category main container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <div class="top-heading">
        <h1 class="heading">{{ heading_title }}</h1>
      </div>
      {% if thumb or description %}
        {% if thumb %}
          <div class="top-img"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail"/></div>
        {% endif %}
        {% if description %}
          <div class="description-text">{{ description }}</div>
        {% endif %}
      {% endif %}
      {% if categories %}
        <h3 class="mt-5">{{ text_refine }}</h3>
        {% if categories|length <= 5 %}
          <div class="row">
            <div class="col-sm-12">
              <ul class="subcate-list">
                {% for category in categories %}
                  <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% else %}
          <div class="row">
            {% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
              <div class="col-sm-3">
                <ul>
                  {% for child in category %}
                    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
          <br/>
        {% endif %}
      {% endif %}
      {% if products %}
        <div id="display-control" class="display-control row">
          <div class="col-2 d-none d-md-block">
            <div class="btn-group">
              <button type="button" id="list-view" class="btn btn-light" data-toggle="tooltip" title="{{ button_list }}"><span class="icon-menu-symbol"></span></button>
              <button type="button" id="grid-view" class="btn btn-light" data-toggle="tooltip" title="{{ button_grid }}"><span class="icon-grid"></span></button>
            </div>
          </div>
          <div class="col-10 select-options">
            <div class="input-group">
              <div class="input-group-prepend">
                <label for="input-sort" class="input-group-text">{{ text_sort }}</label>
              </div>
              <select id="input-sort" class="form-control" onchange="location = this.value;">
                {% for sorts in sorts %}
                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                  {% else %}
                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <label for="input-limit" class="input-group-text">{{ text_limit }}</label>
              </div>
              <select id="input-limit" class="form-control" onchange="location = this.value;">
                {% for limits in limits %}
                  {% if limits.value == limit %}
                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                  {% else %}
                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            {# <a href="{{ compare }}" id="compare-total" class="btn btn-primary d-block btn-pink"><span class="d-inline d-md-none d-lg-inline">{{ text_compare }}</span></a> #}
          </div>
        </div>
        <div class="row">
          {% for product in products %}
            <div class="product-layout product-list col-12">

              <div class="product-thumb">
                <button type="button" class="add-wishlist-btn" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span></button>

                <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid"/></a></div>

                <div class="content">
                  <div class="caption">
                    <h3 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                    <h4 class="description">{{ product.description }}</h4>

                    {% if product.price %}
                      <p class="price">
                        {% if not product.special %}
                          {{ product.price }}
                        {% else %}
                          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                        {% if product.tax %}
                          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                        {% endif %}
                      </p>
                    {% endif %}

                    {% if product.rating %}
                      <div class="rating">
                        {% for i in 1..5 %}
                          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fas fa-star fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span>{% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="button-group">
                    <a href="{{ product.href }}" class="btn btn-pink add-cart-btn"><span>{{ button_detail }}</span></a>
                    {#<button type="button" class="add-wishlist-btn" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span>Yêu thích</button>
                     <button type="button" class="btn compare-btn" data-toggle="tooltip" data-placement="top" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">So sánh</button> #}
                  </div>

                </div>


              </div>

            </div>

          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      {% endif %}

      {% if not categories and not products %}
        <p>{{ text_no_results }}</p>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-right"><a href="{{ continue }}" class="btn btn-primary  btn-pink">{{ button_continue }}</a></div>
        </div>
      {% endif %}

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
