{{ header }}
<div id="product-compare" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if products %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <td colspan="{{ products|length + 1 }}"><strong>{{ text_product }}</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ text_name }}</td>
              {% for product in products %}
                <td><a href="{{ product.href }}"><strong>{{ product.name }}</strong></a></td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_image }}</td>
              {% for product in products %}
                <td class="text-center">{% if product.thumb %} <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/> {% endif %}</td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_price }}</td>
              {% for product in products %}
                <td>{% if product.price %}
                    {% if not product.special %}
                      {{ product.price }}
                    {% else %} <strike>{{ product.price }}</strike> {{ product.special }}
                    {% endif %}
                  {% endif %}</td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_model }}</td>
              {% for product in products %}
                <td>{{ product.model }}</td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_manufacturer }}</td>
              {% for product in products %}
                <td>{{ product.manufacturer }}</td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_availability }}</td>
              {% for product in products %}
                <td>{{ product.availability }}</td>
              {% endfor %} </tr>
            {% if review_status %}
              <tr>
                <td>{{ text_rating }}</td>
                {% for product in products %}
                  <td class="rating"> {% for i in 1..5 %}
                      {% if product.rating < i %} <span class="fa fa-stack"><i class="fas fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fas fa-star fa-stack-2x"></i><i class="fas fa-star-o fa-stack-2x"></i></span> {% endif %}
                    {% endfor %}
                    <br/>
                    {{ product.reviews }}</td>
                {% endfor %} </tr>
            {% endif %}
            <tr>
              <td>{{ text_summary }}</td>
              {% for product in products %}
                <td class="description">{{ product.description }}</td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_weight }}</td>
              {% for product in products %}
                <td>{{ product.weight }}</td>
              {% endfor %} </tr>
            <tr>
              <td>{{ text_dimension }}</td>
              {% for product in products %}
                <td>{{ product.length }} x {{ product.width }} x {{ product.height }}</td>
              {% endfor %} </tr>
          </tbody>
          {% for attribute_group in attribute_groups %}
            <thead>
              <tr>
                <td colspan="{{ products|length + 1 }}"><strong>{{ attribute_group.name }}</strong></td>
              </tr>
            </thead>
            {% for key, attribute in attribute_group.attribute %}
              <tbody>
                <tr>
                  <td>{{ attribute.name }}</td>
                  {% for product in products %}
                    {% if product.attribute[key] %}
                      <td> {{ product.attribute[key] }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                  {% endfor %}
                </tr>
              </tbody>
            {% endfor %}
          {% endfor %}
          <tr>
            <td></td>
            {% for product in products %}
              <td><button type="button" id="button-confirm" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" class="btn btn-primary btn-block  btn-pink">{{ button_cart }}</button>
                <a href="{{ product.remove }}" class="btn btn-danger btn-block">{{ button_remove }}</a></td>
            {% endfor %} </tr>
        </table>
      {% else %}
        <p>{{ text_no_results }}</p>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-right"><a href="{{ continue }}" class="btn btn-light">{{ button_continue }}</a></div>
        </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 