{% if reviews %}
  {% for review in reviews %}
    <table class="table table-striped table-bordered">
      <tr>
        <td style="width: 50%;"><strong>{{ review.author }}</strong></td>
        <td class="text-right">{{ review.date_added }}</td>
      </tr>
      <tr>
        <td colspan="2"><p>{{ review.text }}</p>
          {% for i in 1..5 %}
            {% if review.rating < i %} <span class="fa fa-stack">
            <i class="fas fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack">
            <i class="fas fa-star fa-stack-2x"></i><i class="fas fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</td>
      </tr>
    </table>
  {% endfor %}
  <div class="text-right">{{ pagination }}</div>
{% else %}
  <p class="text-center">{{ text_no_reviews }}</p>
{% endif %} 