{{ header }}
<div id="affiliate-login" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ text_description }}
      <div class="row">
        <div class="col-sm-6">
          <div class="card mb-3">
            <div class="card-body">
              <h2>{{ text_new_affiliate }}</h2>
              <p>{{ text_register_account }}</p>
              <a class="btn btn-primary btn-pink" href="{{ register }}">{{ button_continue }}</a></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-3">
            <div class="card-body">
              <h2>{{ text_returning_affiliate }}</h2>
              <p><strong>{{ text_i_am_returning_affiliate }}</strong></p>
              <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="input-email" class="col-form-label">{{ entry_email }}</label> <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="input-password" class="col-form-label">{{ entry_password }}</label> <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/> <a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
                <button type="submit" class="btn btn-primary btn-pink">{{ button_login }}</button>
                {% if redirect %}
                  <input type="hidden" name="redirect" value="{{ redirect }}"/>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
