<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
	<html
	dir="{{ direction }}" lang="{{ lang }}"> <!--<![endif]-->
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172947311-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-172947311-1');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T3CDB38');</script>
<!-- End Google Tag Manager -->

		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<title>{{ title }}</title>
		<base href="{{ base }}"/>
		<meta name="google-site-verification" content="XBugjmdUWJJzsIYrmN47772rw57DXEPmndkf9fx2oNA" />
		{% if description %}
			<meta name="description" content="{{ description }}"/>
		{% endif %}
		{% if keywords %}
			<meta name="keywords" content="{{ keywords }}"/>
		{% endif %}

		<meta property="fb:pages" content="244476702375679" />

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,400i,500,500i,600,600i,700&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/js/swiper.js"></script>
		
		<!--<script src="catalog/view/theme/hangsieuxin/js/bundle.js" type="text/javascript"></script>-->
		
		{% for style in styles %}
			<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
		{% endfor %}
		{% for script in scripts %}
			<script src="{{ script }}" type="text/javascript"></script>
		{% endfor %}
  	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
		{% for link in links %}
			<link href="{{ link.href }}" rel="{{ link.rel }}"/>
		{% endfor %}
		<link href="catalog/view/theme/hangsieuxin/stylesheet/stylesheet.css" rel="stylesheet">
		{% for analytic in analytics %}
			{{ analytic }}
		{% endfor %}
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3CDB38"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<header class="main-header">
			<nav id="top" class="top-nav">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-lg-8 pull-left">
							<div class="phone-s">
								<a href="https://www.facebook.com/hangsieuxin/" rel="nofollow" target="_blank" class="mr-3"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								Liên hệ online:
								<a href="{{ contact }}">
									<span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span>
								</a>
							</div>
							<div class="content text-center">
									<p>Miễn phí vận chuyển tất cả sản phẩm</p>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4 nav pull-right" id="top-links">
							<ul class="list-inline">
								<li>
									<a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
										<i class="fa fa-heart"></i>
										<span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span>
									</a>
								</li>
								{% if logged %}
								<li class="dropdown">
									<a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle pr-4" data-toggle="dropdown">
										<i class="fa fa-user"></i>
										<span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span>
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu dropdown-menu-right dropdown-custom">
											<li>
												<a href="{{ account }}">{{ text_account }}</a>
											</li>
											<li>
												<a href="{{ order }}">{{ text_order }}</a>
											</li>
											<li>
												<a href="{{ transaction }}">{{ text_transaction }}</a>
											</li>
											<li>
												<a href="{{ download }}">{{ text_download }}</a>
											</li>
											<li>
												<a href="{{ logout }}">
												{{ text_logout }}
												</a>
											</li>
									</ul>
								</li>
								{% else %}
									<li>
										<a href="{{ register }}">{{ text_register }}</a>
									</li>
									<li>
										<a href="{{ login }}">{{ text_login }}</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</nav>
			
			<div class="container">
				<div class="row">
					<div class="col-sm-4 logo-block">
						<div id="logo">
							{% if logo %}
								<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/></a>
							{% else %}
								<h1>
									<a href="{{ home }}">{{ name }}</a>
								</h1>
							{% endif %}
						</div>
					</div>
					<div class="col-sm-5 search-block">{{ search }}</div>
					<div class="col-sm-3 cart-block">
						<a class="link" href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">
							<span class="icon-cart-1 svg"></span>
							<span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span>
						</a>
						{{ cart }}
					</div>
				</div>
			</div>
		{{ menu }}
		</header>
	</body>
</html>
