{{ header }}
<div class="container tltblog-container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
      {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div {% if (schemaorg) %} {{ 'itemscope itemtype="http://schema.org/BlogPosting"' }}{% endif %} id="content" class="{{ class }} blog-detail">
      {% if (schemaorg) %}
        <meta itemprop="description" content="{{ intro }}">
        <meta itemprop="headline" content="{{ meta_description }}">
        <meta itemprop="datePublished" content="{{ date_published }}">
      {% endif %}
      {{ content_top }}
      {% if (schemaorg) %}
        <meta itemprop="name" content="{{ heading_title }}">
      {% endif %}
      {% if (schemaorg_image) %}
        <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="url" content="{{ blog_image }}">
          <meta itemprop="width" content="{{ image_width }}">
          <meta itemprop="height" content="{{ image_height }}">
        </div>
      {% endif %}
      {% if (show_title) %}
        <h1 class="main-heading">{{ heading_title }}</h1>
        {% if (show_date and author) %}
          <p><span class="author">By {{ author }} - </span> <span class="date">{{ date }}</span></p>
        {% elseif (show_date) %}
          <p>{{ date }}</p>
        {% elseif (author) %}
          <p><i>{{ author }}</i></p>
        {% endif %}
      {% endif %}
      <span {% if (schemaorg) %} {{ 'itemprop="articleBody"' }}{% endif %}>{{ description }}</span>
      {% if (tags) %}
        <hr />
        <p class="tags">
          {% for tag in tags %}
            {% if not loop.last %}
              <a href="{{ tag.href }}">{{ tag.title }}</a>,&nbsp;
            {% else %}
              <a href="{{ tag.href }}">{{ tag.title }}</a>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      {% if (products) %}

        <div class="top-heading pt-5">
          <h3 class="heading">{{ text_related }}</h3>
        </div>
        <div class="row">
          {% set i = 0 %}
          {% for product in products %}
            {% if (column_left and column_right) %}
              {% set class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12' %}
            {% elseif (column_left or column_right) %}
              {% set class = 'col-lg-4 col-md-4 col-sm-6 col-xs-12' %}
            {% else %}
              {% set class = 'col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
            {% endif %}
            <div class="product-layout {{ class }}">
              <div class="product-thumb transition">
                <button type="button" class="add-wishlist-btn" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><span class="icon-heart"></span></button>
                <div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-fluid" /></a></div>
                <div class="caption">
                  <h3 class="product-name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></h3>
                  <h4 class="description">{{ product['description']|slice(0, 200) }}</h4>
                  {% if (product['rating']) %}
                    <div class="rating">
                      {% set i = 1 %}
                      {% for i in i..5 %}
                        {% if (product['rating'] < i) %}
                          <span class="fa fa-stack"><i class="fas fa-star-o fa-stack-2x"></i></span>
                        {% else %}
                          <span class="fa fa-stack"><i class="fas fa-star fa-stack-2x"></i><i class="fas fa-star-o fa-stack-2x"></i></span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if (product['price']) %}
                    <p class="price">
                      {% if (not product['special']) %}
                        {{ product['price'] }}
                      {% else %}
                        <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
                      {% endif %}
                      {% if (product['tax']) %}
                        <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                      {% endif %}
                    </p>
                  {% endif %}
                </div>
                <div class="button-group">
                  <button type="button" class="btn btn-pink add-cart-btn" onclick="cart.add('{{ product['product_id'] }}', '{{ product['minimum'] }}');"><span >{{ button_cart }}</span></button>
                  {# <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-exchange"></i></button> #}
                </div>
              </div>
            </div>
            {% if ((column_left and column_right) and (i % 2 == 0)) %}
              <div class="clearfix visible-md visible-sm"></div>
            {% elseif ((column_left or column_right) and (i % 3 == 0)) %}
              <div class="clearfix visible-md"></div>
            {% elseif (i % 4 == 0) %}
              <div class="clearfix visible-md"></div>
            {% endif %}
            {% set i = i + 1 %}
          {% endfor %}
        </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
    $(document).ready(function() {
        $('.popup_imgs').magnificPopup({
            type:'image',
            delegate: 'a',
            gallery: {
                enabled:true
            }
        });
    });
    //--></script>
{{ footer }}
