{{ header }}
<div class="container tltblog-container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
      {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h1 class="main-heading">{{ heading_title }}</h1>
      <div class="row tltblog">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          {% set rowcounter = 0 %}
          {% set class_cols = 'col-lg-' ~ 12 / num_columns ~ ' col-md-' ~ 12 / num_columns ~ ' col-sm-12 col-xs-12' %}
          <div class="row tltblog-row">
            {% for tltblog in tltblogs %}
            <div class="{{ class_cols }} tltblog-cols">
              <div class="blog-item-wrap">
                {% if (show_image) %}
                  <div class="thumbnails">
                    {% if (tltblog['show_description']) %}
                      <a href="{{ tltblog['href'] }}"><img src="{{ tltblog['thumb'] }}" alt="{{ tltblog['title'] }}" title="{{ tltblog['title'] }}" class="img-thumbnail" /></a>
                    {% else %}
                      <a><img src="{{ tltblog['thumb'] }}" alt="{{ tltblog['title'] }}" title="{{ tltblog['title'] }}" class="img-thumbnail" /></a>
                    {% endif %}
                  </div>
                  <div class="description">
                    {% if (show_date) %}
                      <p><span class="author">By {{ tltblog['author'] }} - </span> <span class="date">{{ tltblog['date'] }}</span></p>
                    {% endif %}
                    {% if (tltblog['show_description']) %}
                      <h2 class="title"><a href="{{ tltblog['href'] }}">{{ tltblog['title'] }}</a></h4>
                    {% else %}
                      <h3><a>{{ tltblog['title'] }}</a></h3>
                    {% endif %}
                    <div>{{ tltblog['intro'] }}</div>
                    <a href="{{ tltblog['href'] }}" class="btn"><span>{{text_button_see_detail}}</span></a>
                  </div>
                {% else %}
                  <div class="item">
                    {% if (tltblog['show_description']) %}
                      <h3><a href="{{ tltblog['href'] }}">{{ tltblog['title'] }}</a></h3>
                    {% else %}
                      <h3><a >{{ tltblog['title'] }}</a></h3>
                    {% endif %}
                    <div>{{ tltblog['intro'] }}</div>
                  </div>
                {% endif %}
              </div>
            </div>
            {% set rowcounter = rowcounter + 1 %}
            {% if (rowcounter == num_columns) %}
          </div>
          <div class="row tltblog">
            {% set rowcounter = 0 %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% if (pagination_enabled) %}
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-12">{{ pagination }}</div>
          <div class="col-md-6 col-sm-12 paging-result">{{ results }}</div>
        </div>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
