.bu-hover-effect {
  position: relative;
}

.bu-hover-effect::before,
.bu-hover-effect::after {
  position: absolute;
  top: rem(20);
  right: rem(20);
  bottom: rem(20);
  left: rem(20);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -ms-transition: opacity 0.35s, -ms-transform 0.35s;
  -o-transition: opacity 0.35s, -o-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  z-index: 1;
  pointer-events: none;
}

.bu-hover-effect::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.bu-hover-effect::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.bu-hover-effect:hover::before,
.bu-hover-effect:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.bu-text {
  z-index: 99;
  width: 80%;
  padding-right: rem(25);
  pointer-events: none;

  p {
    font-weight: 500;
    color: #fff;
  }

  .one-banner & {
    background: rgba($color: #a80038, $alpha: 0.8);
    padding: rem(20) rem(30);
    text-align: center;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    width: 85%;

    @media (min-width: 768px) {
      margin: auto;
      width: rem(500);
    }
  }
}

.bu_top_banners {
  margin-bottom: rem(30);
}

.top_banner_url {
  display: block;

  @media (max-width: 767px) {
    img {
      .one-banner & {
        height: rem(180);
        object-fit: cover;
      }
    }
  }
}

.top_banner_heading {
  color: #fff;

  @media (max-width: 991px) {
    font-size: rem(18);
  }
}

.top_banner_description {
  .content {
    padding: rem(5) 0;
  }
  @media (max-width: 767px) {
    .one-banner & {
      font-size: rem(12);
    }
  }
}

.banner-btn {
  background: #fff;
  color: #a80038;
  border-radius: 0;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(14);
  pointer-events: auto;

  &:hover {
    color: #fff;
  }
}

.slideshow.swiper-viewport {
  .img-fluid {
    height: rem(520);
    object-fit: cover;

    @media (max-width: 767px) {
      height: rem(370);
    }
  }

  @media (min-width: 768px) {
    .swiper-slide:nth-child(odd) {
      .content {
        right: 20%;
        left: auto;
        transform: translateY(-50%);
      }
    }
  
    // .swiper-slide:nth-child(even) {
    //   .content {
    //     left: 20%;
    //     transform: translateY(-50%);
    //   }
    // }
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(350);


    .title {
      font-size: rem(38);
      color: #ed1857;
      letter-spacing: 0.03rem;
      font-weight: 700;
    }

    .description {
      font-size: rem(14);
      margin-bottom: rem(30);
    }

    .btn-primary {
      color: #fff;
    }
  }
}