@media (min-width: 992px) {
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.dropdown-toggle::after {
  @include pseudo($display: 'inline-block', $content: "\e918");
  font-family: icomoon;
  border: 0;
  font-size: rem(9);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.form-group {
  margin-top: rem(20);
}

.control-label {
  font-weight: 700;
  padding-bottom: rem(10);
}

.form-control {
  height: rem(40);
}

.btn-primary {
  font-size: rem(12);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  border-radius: 0;
  border: 0;
  text-shadow: none;
  background-image: none;
  box-shadow: none;
  background: #2b2024;
  color: #fff;
  padding: rem(12) rem(20);
  line-height: 1;
}

.btn-pink {
  background: #ed1857;

  &:hover {
    background-color: #a80038;
    color: #fff;
  }
}

.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active, .show > .btn-pink.dropdown-toggle {
  background-color: #ed1857;
  border-color: #ed1857;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-light {
  border-radius: 0;
  line-height: 1;
  color: #a80038;
  background: #fbf9fa;
  height: rem(36);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-light:hover {
  background-color: #fff;
  border-color: #eee;
}


.list-group a {
  padding: rem(15) rem(20);
  color: #888888;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  background: #fbf9fa;
  color: #ed1857;
}

.input-group-text {
  font-size: rem(12);
  border: 0;
  background: transparent;
  padding: 0 rem(8) 0 0;
  font-weight: 700;
}


.display-control {
  margin-bottom: rem(15);
  margin-top: rem(15);

  .form-control {
    height: rem(32);
    width: auto;
    
  }

  select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: rem(15);
  }

  .btn-primary {
    text-transform: unset;
    margin-top: 0;
  }

  .btn-light {
    background: #fff;
    border-radius: 0;
    border-color: #eee;
    box-shadow: none;
  
    span:before {
      color: #ccc;
    }
  }

  @media (max-width: 451px) {
    .select-options .input-group:after {
      top: 66%;
    }
  }
  
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    background-color: #fff;
    border-color: #eee;

      span:before {
        color: #2b2024;
      }
  }
}

.select-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .input-group {
    width: auto;

    &:after {
      @include pseudo($content: '\e918');
      right: rem(8);
      top: 50%;
      transform: translateY(-50%);
      font-family: icomoon;
      font-size: rem(10);
      z-index: 11;
      pointer-events: none;
    }

    &:first-child {
      margin-right: rem(15);
    }
  }
}

a {
  color: #5a5a5a;

  &:hover {
    color: #ed1857;
    background: transparent;
  }
}

.dropdown-menu li>a:hover {
  text-decoration: none;
  color: #ed1857;
  background: transparent;
  background-image: none;
}

.swiper-container {
  width: 100%;
}

.alert {
  top: 0;
  font-size: rem(14);
  padding-right: rem(30);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: rem(300);
}

.img-thumbnail {
  border: 0;
}

.dropdown-menu {
  font-size: rem(14);
  min-width: rem(300);
  padding: rem(10);

  p.text-center {
    margin-bottom: 0;
  }
}

.table-sm th, .table-sm td {
  padding: rem(5);
}

.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 1px;
}

.tooltip {
  font-size: rem(14);
}

button:focus {
  outline: 0;
}