.top-cart {
  .dropdown-menu {
    font-size: rem(14);
    width: rem(400);
    padding: rem(10);
    transform: none !important;
    right: rem(10);
    left: auto !important;
    top: 100% !important;
  
    p.text-center {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      width: rem(345);
    }
  }

  .product-tbl {
    margin: rem(-10) rem(-10) 0;

    tr, td, th {
      vertical-align: middle;
    }
  }

  .btn-remove {
    border-radius: 50%;
    width: rem(20);
    height: rem(20);
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    
    .svg {
      font-size: rem(8);

      &:before {
        color: #a80038;
      }
    }
  }
  
  .btn-secondary {
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    padding: rem(12) rem(20);
    line-height: 1;
  }
}

.checkout-cart {
  .btn-edit {
    height: rem(40);
    margin-right: rem(7);
    background: #2b2024;
    border: 2px solid #000;
    box-shadow: none;

    .svg {
      font-size: rem(15);
      font-weight: 700;

      &::before {
        color: #fff;
      }
    }

    &:hover {
      background: none;

      .svg:before {
        color: #a80038;
      }
    }
  }

  .btn-remove {
    border-radius: 50% !important;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: rem(10);

    .svg {
      &::before {
        color: #fff;
      }
    }
  }

  .input-group-prepend, .input-group-append {
    align-items: center;
  }
}