.dropdown-custom {
    font-size: rem(12);
    padding: rem(20);
    min-width: rem(170);
    margin-top: rem(5);

    li {
        margin-bottom: rem(15);

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.swiper-pager {
    line-height: 1;
}

.swiper-button-next, .swiper-button-prev {
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(13);

    &:before {
        font-family: 'icomoon';
        @include pseudo($content: '\e95e');
        font-size: rem(20);
        width: auto;
        height: auto;
    }
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.swiper-pagination-bullet {
    width: rem(10);
    height: rem(10);
    background: #2b2024;
}
.swiper-pagination-bullet-active {
    background: #ed1857;
}

img {
    max-width: 100%;
}

.preorder-note {
    color: #a80038;
    font-weight: 500;
}

#account-wishlist {
    .icon-close-g:before, .icon-cart-1:before {
        color: #fff;
    }

    @media (max-width: 991px) {
        .btn-danger {
            margin-top: rem(10);
        }
    }
}

.btn-primary.disabled {
    pointer-events: none;
}

.breadcrumb > li {
    white-space: normal;
}