/* content */
#content {
	min-height: 500px;
}
/* footer */
footer {
	margin-top: 20px;
	padding-top: 30px;
	background-color: #fbf9fa;
	color: #2B2024;
	font-size: rem(13);
	font-family: 'Muli', sans-serif;
	font-weight: 600;

	.row {
		justify-content: space-between;
		margin: 0;

		@media (max-width: 1024px) {
			flex-wrap: wrap;

			.infos-footer {
				width: 66.67%;
			}

		}

		@media (max-width: 576px) {
			flex-direction: column;
		}
	}

	a {
		color: #2B2024;
		font-size: rem(13);

		&:hover {
			color: #ed1857;
		}
	}

	.title {
		font-family: 'Muli', sans-serif;
		text-transform: uppercase;
		color: #333;
		position: relative;
		padding-top: rem(17);
		padding-bottom: rem(6);
		margin-bottom: rem(15);
		font-weight: 700;

		&:after {
			position: absolute;
			content: "";
			width: rem(30);
			height: rem(2);
			left: 0;
			bottom: 0;
			background-color: #ed1857;
		}
	}

	.list-unstyled {

		li {
			padding: rem(6) 0;

			a {
				display: inline-block;
				padding-bottom: rem(3);
				border-bottom: 1px solid transparent;
				line-height: 1;

				&:hover {
					border-color: #ed1857;
					transition: all ease-in .2s;
					-webkit-transition: all ease-in .2s;
					-moz-transition: all ease-in .2s;
					-ms-transition: all ease-in .2s;
					-o-transition: all ease-in .2s;
				}
			}
		}
	}

	.infos-footer {
		.list-unstyled {
			padding-top: rem(12);

			li {
				display: flex;
				align-items: center;
				margin-bottom: rem(4);
			}

			a {
				padding-bottom: 0;
			}

			.svg {
				font-size: rem(14);
				margin-right: rem(8);

				&:before {
					color: #a80038;
				}
			}
		}
	}

	.powered-info {
		margin: 0;
		margin-top: rem(20);
		text-align: center;
		line-height: 1;
		padding: rem(18) 0;
		background: #a80038;
		color: #fff;
	}

	
	.social {
		display: flex;
		align-items: center;
	}
}


.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	border: 0;
	background: #fff;
	padding: rem(12) 0;
}

.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	position: relative;
	white-space: nowrap;
	font-size: rem(13);

	a {
		color: #2b2024;
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	content: '\e995';
	color: #7a7a7a;
	font-family: icomoon;
	font-size: rem(7);
	padding-left: rem(5);
	padding-right: rem(8);
	color: #ed1857;
}

.pagination {
	margin: 0;
}

#information-contact .card {
	border: 0;

	.card-body {
		padding-left: 0;
		padding-right: 0;
	}
}

.left-form {
	width: calc(100% - 28.5rem);

	+ #column-right {
		width: rem(285);
		max-width: rem(285);
		flex: auto;
	}
}

.featured-product {
	margin-bottom: rem(50);
}

.top-heading {
	text-align: center;
	padding-bottom: rem(40);
}

.heading {
	margin: 0;
	z-index: 2;
	font-size: rem(21);
	padding: 0 rem(20);
	line-height: 1.4;
	font-weight: 700;
	position: relative;
	letter-spacing: 1px;
	vertical-align: top;
	display: inline-block;
	text-transform: uppercase;
	background-color: #fff;

	&:after, &:before {
    top: 50%;
    width: rem(100);
    z-index: 1;
    height: rem(2);
    position: absolute;
    background-color: #000;
    transform: translateY(-50%);
		content: "";
	}

	&:before {
    left: rem(-100);
	}

	&:after {
    right: rem(-100);
	}

	@media (max-width: 767px) {
		font-size: 1.6rem;

		&:after, &:before {
			display: none;
		}
	}
}

.is-fixed {
	.navbar {
		position: fixed;
		left: 0;
		top: 0;
		height: rem(49);
		width: 100%;
		z-index: 111;
		margin-top: 0;

		@media only screen and (max-width: 991px) {
			height: rem(72);
		}
	}

	@media only screen and (min-width: 992px) {
		.small-logo {
			display: block;
		}

		.cart-block {
			position: fixed;
			top: rem(9);
			z-index: 112;
			right: 0;
			left: auto;
			
			.link, .svg:before {
				color: #fff;
			}
		}
	}
}

.has-top-margin {
	-webkit-animation: animate-margin-top 0.3s;
	-moz-animation: animate-margin-top 0.3s;
	animation: animate-margin-top 0.3s;
	margin-top: rem(49);
}

@media only screen and (max-width: 991px) {
  .has-top-margin {
		margin-top: rem(74);
  }
}

@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}

.pagination  {
	li {
		margin-right: rem(5);
		color: #ed1857;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: 600;
		padding: rem(2);
		border-radius: 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
		border-radius: 50%;
		width: rem(34);
		height: rem(34);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.paging-result {
	text-align: right;
}

@media only screen and (max-width: 767px) {
	.pagination {
		justify-content: center;
	}

	.paging-result {
		padding-top: rem(10);
		text-align: center;
	}
}

