.small-logo {
	width: rem(50);
	position: absolute;
	left: rem(10);
	display: none;
}

.nav-tabs {
	margin-bottom: 15px;

	&.nav {
		justify-content: flex-start;
		margin-bottom: rem(30);
		padding: 0;
	}
}

.nav.nav-tabs {
	border-bottom: 0;

	.nav-item {
		border: 0;
		margin-right: rem(10);

		.active {
			background: #2b2024;
			border-color: #2b2024;
			color: #fff;
		}

		a {
			color: #a80038;
			font-size: rem(16);
			padding: rem(10) rem(30);
			font-weight: 700;
			border: 0;
			background: #fbf9fa;
			display: block;
			border: 1px solid #ccc;
			border-radius: 0;

			@media (max-width: 767px) {
				padding: rem(8) rem(15);
			}
		}
	}
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

.top-nav {
	background: #fbf9fa;
	color: #5a5a5a;
	padding: rem(15) 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	position: relative;
	margin-bottom: rem(25);

	.container {
		font-size: rem(12);
	}

	a {
		color: #5a5a5a;
		
	}

	.pull-left {
		display: flex;
		align-items: center;

		@media (max-width: 991px) {
			justify-content: space-between;
			margin-bottom: rem(15);
		}

		@media (max-width: 575px) {
			flex-direction: column;
			text-align: center;

			.phone-s {
				padding-top: rem(15);
				padding-right: 0;
				border-right: 0;
				order: 2;
			}
		}
	}

	.content {
		color: #ED1857;
		padding-left: rem(15);

		@media (max-width: 575px) {
			order: 1;
			padding-left: 0;
		}

		p {
			margin-bottom: 0;
			font-family: 'Muli', sans-serif;
			font-weight: 700;
			line-height: 1.4;
		}
	}
}

.nav {
	justify-content: flex-end;
	
	@media (max-width: 991px) {
		justify-content: flex-start;
		padding-left: rem(15);
	}

	@media (max-width: 575px) {
		justify-content: center;
  }

	.list-inline {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		@media (max-width: 991px) {
			justify-content: space-between;
			width: 100%;
			padding-top: rem(5);
		}
		
		> li {
			@media (max-width: 991px) {
				font-weight: 600;
				font-size: rem(14);
			}
		}
	
		li {
			margin-right: rem(15);

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.phone-s {
	padding-right: rem(15);
	border-right: 1px solid #efefef;
}

.logo-block {
	@media (max-width: 575px) {
		order: 1;
		width: 60%;
  }
}

.cart-block {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 575px) {
		order: 2;
		width: 40%;
  }

	.svg {
		font-size: rem(15);
	}

	.link {
		word-break: keep-all;
		white-space: nowrap;
		margin-right: rem(8);
		font-size: rem(13);
		font-weight: 700;
		color: #5a5a5a;
	}

	.btn-block {
		width: auto;
	}

	.dropdown-toggle {
		background: #ed1857;
		color: #fff;
		font-weight: 600;
		border: 0;
		padding: rem(7);
		line-height: 1;
		font-size: rem(12);
		width: rem(28);
		height: rem(28);
		display: flex;
		align-items: center;
		justify-content: center;

		&:after {
			display: none;
		}
	}
}

.navbar {
	background: #2B2024;
	padding: rem(15) 0;
	position: relative;
	margin-top: rem(25);
	
	.category {
		color: #fff;
		font-size: rem(18);
		font-weight: rem(7);
	}


	.navbar-toggler {
		background: #fff;
		font-size: rem(22);
		color: #a80038;
		padding: rem(10) rem(10) rem(8);
	}
}

.navbar-nav {
	flex-direction: unset;
	justify-content: center;

	.nav-item {
		margin-right: rem(15);

		&:last-child {
			margin-right: 0;
		}
	}

	a, .dropdown-toggle {
		color: #fff;
		font-size: rem(14);
		font-weight: 600;
		letter-spacing: 0.02rem;
		padding: 0 rem(16);
		position: relative;
		padding-left: 0;
	}

	.dropdown-menu {
		min-width: rem(250);
		position: absolute;
		margin-top: rem(15);
		box-shadow: 0 2px 6px rgba(0,0,0,.075);
		border-radius: 0;
		padding: rem(10) rem(20);

		a {
			color: #2b2024;
			display: inline-block;
			margin: rem(8) 0;
			font-weight: 400;
			border-bottom: 1px solid transparent;
			padding: 0;

			&:hover {
				color: #ed1857;
				background: transparent;
				border-color: #ed1857;
			}
		}

		@media (max-width: 991px) {
			position: relative;
			top: unset;
			left: unset;
			border: 0;
			box-shadow: none;
			padding: 0;
			padding-left: rem(10);
		}
	}
}

.navbar-collapse {

	&.in {
		display: block;
	}

	@media (max-width: 991px) {
		left: 0;
		top: 0;
		z-index: 200;
		position: fixed;
		width: 100%;
		height: 100%;
	
		.navbar-nav {
			background-color: #fff;
			width: 280px;
			height: 100vh;
			padding: rem(35) rem(15) rem(15);
			z-index: 100;
			overflow-x: hidden;
			overflow-y: auto;
			position: relative;
			left: 0;
			display: block;
			z-index: 102;

			a {
				color: #5a5a5a;
				font-weight: 600;
			}

			.nav-item {
				margin-right: 0;
				padding: rem(5) 0;
			}
		}

		&.in .navbar-nav {
			visibility: visible;
		}
	}
}

.overlay {
	@media (min-width: 992px) {
		display: none;
	}

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	display: block;
	opacity: 1;
	visibility: visible;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	z-index: 101;
}

.btn-close {
	position: absolute;
	left: 280px;
	top: 0;
	z-index: 104;
	box-shadow: none;
	width: rem(30);
	height: rem(30);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: 0;
	border-radius: 0;

	&:focus {
		outline: none;
	}

	.icon-close-g:before {
		color: #fff;
	}

	@media (min-width: 992px) {
		display: none;
	}
}