
.login {
  font-size: rem(14);

  .title {
    font-size: rem(16);
    text-transform: uppercase;
    font-weight: 700;
  }

  .top-text {
    margin-top: rem(15);
  }

  .forgot-text {
    display: inline-block;
    margin-top: rem(15);
    color: #888;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: #888;
    }
  }

  .card {
    border: 0;
  }
}

.container {
  font-size: rem(14);
}

.had-account {
  margin-top: rem(5);
  a {
    color: #ed1857;
  }
}

.open > .dropdown-menu {
  display: block;
}

.subcate-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-10);
  margin-right: rem(-10);
  
  li {
    padding: rem(10);

    a {
      color: #2b2024;
      letter-spacing: .02rem;
      width: 100%;
      padding: rem(10) rem(15);
      background: #fbf9fa;
      text-align: center;
      border: 1px solid #eee;
      border-radius: 3px;
      display: inline-block;
      font-weight: 700;

      &:hover {
        color: #ed1857;
        background: #fff;
      }
    }
  }
}

.title {
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 10px;
}

.account-account {
  h2 {
    margin-bottom: rem(12);
  }
  .list-unstyled {
    padding-left: rem(15);

    li {
      padding: rem(5) 0;
    }
  }
}

.featured-category {
  margin-bottom: rem(40);
}