
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}

.product-layout {
	padding: 0 rem(15);
}

/* product list */
.product-thumb {
	margin-bottom: 20px;
	position: relative;

	.image {
		text-align: center;
	}

	a {
		display: block;
		line-height: 1.4;
	}

	.product-name {
		font-weight: 600;
		color: #808080;
		font-size: rem(14);
		margin-top: 1rem;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: rem(41);
    width: 100%;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    text-overflow: ellipsis;
    margin: 0px;
    overflow: hidden;
	}

	.caption {
		margin-top: rem(10);

		.description {
			height: rem(36);
			line-height: 1.5;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			margin-bottom: rem(4);
			font-size: rem(12);
			font-weight: 600;
			display: none;
		}
	}
}

.product-list {
	.product-thumb {
		display: flex;
		align-items: top;

		.add-wishlist-btn {
			display: none;
		}

		.image {
			padding-right: rem(20);
		}

		.content {
			flex: 1;
		}
	}

	.caption {
		text-align: left;
	}

	.button-group {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		.add-cart-btn {
			width: 48%;
			margin-bottom: rem(10);
		}

		.add-wishlist-btn {
			display: flex;
			width: 48%;
			position: relative;
			border-radius: 0;
			align-items: center;
			top: unset;
			left: unset;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 700;
			border-radius: 0;
			height: rem(40);

			span {
				margin-right: rem(10);
			}

			&:hover {
				color: #a80038;
			}
		}
	}
}

.product-grid {
	.product-thumb {
		.caption {
			min-height: 0;
		}

		.add-wishlist-btn {
			display: flex;
		}
	}

	.button-group {
		.add-wishlist-btn {
			display: none;
		}
	}
}

@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		padding: 0 rem(10) rem(20);
	}
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		margin-left: 0;
		padding: 0 10px;
	}
}

.product-thumb .rating {
	padding-bottom: 10px;
}

.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}

.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}

.rating .fa-star + .fa-star-o {
	color: #E69500;
}

h2.price {
	margin: 0;
}

.product-thumb .price {
	color: #444;
}

.product-thumb .price-new {
	font-weight: 600;
}

.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}

.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: none;
}

.product-thumb {
	.button-group {
		text-align: center;
	}
} 

.add-cart-btn {
	color: #fff;
	width: 100%;
	text-transform: uppercase;
	font-size: rem(14);
	font-weight: 700;
	border-radius: 0;
	border: 0;

	span:before {
		color: #fff;
	}
}

.add-wishlist-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30);
	height: rem(30);
	box-shadow: none;
	border: 0;
	background: #fff;
	border-radius: 50%;
	padding: 0;
	background: #fbf9fa;
	color: #5a5a5a;
	position: absolute;
	left: rem(10);
	top: rem(10);
	z-index: 11;

	&:hover {
		span:before {
			color: #a80038;
		}
	}

	.wish_comp & {
		position: relative;
		border-radius: 0;
		width: 100%;
		height: rem(40);
		left: unset;
		top: unset;
		margin-top: rem(15);
		text-transform: uppercase;
		font-weight: 600;
		
		span {
			margin-right: rem(5);
		}
	}
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: rem(-20);
	> li {
		margin-left: rem(20);
	}

	> img {
		width: 100%;
	}
}

.image-additional {
	max-width: rem(78);
	float: left;
	margin-left: rem(20);
	margin-top: rem(18);

	a {
		margin-bottom: rem(20);
		padding: rem(5);
		display: block;
		border: 1px solid #ddd;
	}
}

.compare-btn {
	line-height: 1;
	white-space: nowrap;
	font-weight: 500;
	padding: 0;
	border: 0;
}

#input-quantity {
	width: rem(100);
}

.price {
	font-weight: 700;
}

.product-product {
	.list-unstyled {
		li {
			padding: rem(5) 0;
		}
	}

	.form-group {
		margin-top: 0;
	}

	.btn-primary {
		margin-top: 0;
	}

	h1 {
		@media (max-width: 767px) {
			font-size: rem(20);
		}
	}

	.alert {
		position: fixed;
		transition: none;
		top: rem(80);
		z-index: 2;
	}
}

.product-info-name {
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	width: rem(130);
}

.product-layout {
	text-align: center;
}

.product-thumb .caption {
	min-height: auto;
}

.featured-category {
	padding-top: rem(20);

	.heading {
		margin-bottom: rem(20);
	}

	.categoryname {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	
		.title {
			margin-bottom: 0;
			a {
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				font-size: rem(16);
			}
		}
	}
}

.product-category {
	.column-left {
		min-width: rem(270);
	};

	.heading {
		margin-bottom: rem(10);
	}
}

.top-img {
	display: none;
}
