@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?ka5ixp') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e902";
}
.icon-cart-2:before {
  content: "\e903";
  color: #5d5d5d;
}
.icon-cart-3:before {
  content: "\e905";
  color: #5d5d5d;
}
.icon-deliver:before {
  content: "\e907";
  color: #5d5d5d;
}
.icon-gift:before {
  content: "\e908";
  color: #5d5d5d;
}
.icon-two-hearts:before {
  content: "\e90d";
  color: #5d5d5d;
}
.icon-cart-1:before {
  content: "\e91b";
  color: #5d5d5d;
}
.icon-bag:before {
  content: "\e923";
  color: #5d5d5d;
}
.icon-the-ring:before {
  content: "\e957";
  color: #5d5d5d;
}
.icon-caution:before {
  content: "\e958";
  color: #5d5d5d;
}
.icon-house-2:before {
  content: "\e961";
  color: #5d5d5d;
}
.icon-small-check:before {
  content: "\e93e";
  color: #808080;
}
.icon-quote:before {
  content: "\e990";
  color: #c1c1c1;
}
.icon-facebook-no-border:before {
  content: "\e991";
}
.icon-menu-symbol:before {
  content: "\e992";
}
.icon-twitter-black-shape:before {
  content: "\e993";
}
.icon-youtube .path1:before {
  content: "\e994";
  color: rgb(216, 54, 42);
}
.icon-youtube .path2:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-long-right-arrow:before {
  content: "\e995";
  color: #808080;
}
.icon-long-left-arrow:before {
  content: "\e996";
  color: #808080;
}
.icon-block-user:before {
  content: "\e906";
  color: #808080;
}
.icon-calendar-interface:before {
  content: "\e919";
}
.icon-send-button:before {
  content: "\e900";
}
.icon-office-worker-outline:before {
  content: "\e98c";
}
.icon-home-icon-silhouette:before {
  content: "\e98d";
}
.icon-newspaper1:before {
  content: "\e98e";
}
.icon-pin:before {
  content: "\e988";
  color: #808080;
}
.icon-backup:before {
  content: "\e989";
  color: #808080;
}
.icon-internet:before {
  content: "\e980";
}
.icon-line-chart:before {
  content: "\e982";
}
.icon-paper-plane-solid:before {
  content: "\e97f";
}
.icon-radio-checked:before {
  content: "\e97d";
}
.icon-add-lg:before {
  content: "\e901";
  color: #808080;
}
.icon-add-2:before {
  content: "\e97c";
}
.icon-minus-2:before {
  content: "\e97e";
}
.icon-bed-light:before {
  content: "\e97b";
  color: #808080;
}
.icon-iconmonstr-plus-2:before {
  content: "\e930";
}
.icon-bed:before {
  content: "\e904";
  color: #808080;
}
.icon-checked:before {
  content: "\e909";
  color: #1183ac;
}
.icon-clock:before {
  content: "\e90a";
  color: #808080;
}
.icon-close-g:before {
  content: "\e90b";
  color: #808080;
}
.icon-coin:before {
  content: "\e90c";
  color: #808080;
}
.icon-compass:before {
  content: "\e90e";
  color: #808080;
}
.icon-contact-book:before {
  content: "\e90f";
  color: #808080;
}
.icon-contract:before {
  content: "\e910";
  color: #808080;
}
.icon-contract-1:before {
  content: "\e911";
  color: #808080;
}
.icon-danger-g:before {
  content: "\e912";
  color: #808080;
}
.icon-delete-g:before {
  content: "\e913";
  color: #808080;
}
.icon-delete-r:before {
  content: "\e914";
  color: #e44d4b;
}
.icon-destination:before {
  content: "\e915";
  color: #808080;
}
.icon-dimension:before {
  content: "\e916";
  color: #808080;
}
.icon-dollar-symbol:before {
  content: "\e917";
}
.icon-down-arrow:before {
  content: "\e918";
  color: #808080;
}
.icon-edit:before {
  content: "\e91a";
  color: #808080;
}
.icon-facebook .path1:before {
  content: "\e91c";
  color: rgb(59, 89, 152);
}
.icon-facebook .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-favorites:before {
  content: "\e91e";
  color: #1485ac;
}
.icon-filter:before {
  content: "\e91f";
}
.icon-flash:before {
  content: "\e920";
  color: #e44e4b;
}
.icon-following-user:before {
  content: "\e921";
  color: #808080;
}
.icon-gallery-g:before {
  content: "\e922";
  color: #808080;
}
.icon-heart-1 .path1:before {
  content: "\e928";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-heart-1 .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-heart-1 .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart-1 .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart:before {
  content: "\e92c";
  color: #808080;
}
.icon-heart-v:before {
  content: "\e92e";
  color: #1485ac;
}
.icon-left-arrow:before {
  content: "\e94c";
  color: #808080;
}
.icon-light-bulb:before {
  content: "\e93f";
  color: #808080;
}
.icon-listing:before {
  content: "\e940";
  color: #1283ac;
}
.icon-lock:before {
  content: "\e948";
  color: #808080;
}
.icon-mail:before {
  content: "\e949";
  color: #808080;
}
.icon-man-user-g:before {
  content: "\e94b";
  color: #808080;
}
.icon-my-location:before {
  content: "\e94e";
  color: #1283ac;
}
.icon-note:before {
  content: "\e950";
  color: #808080;
}
.icon-notification:before {
  content: "\e951";
  color: #808080;
}
.icon-operator:before {
  content: "\e952";
  color: #808080;
}
.icon-phone-circle-g:before {
  content: "\e954";
  color: #808080;
}
.icon-photo-camera:before {
  content: "\e956";
  color: #808080;
}
.icon-point-g:before {
  content: "\e959";
  color: #808080;
}
.icon-policy:before {
  content: "\e95a";
  color: #808080;
}
.icon-profile:before {
  content: "\e95b";
  color: #808080;
}
.icon-profile-g:before {
  content: "\e95c";
  color: #808080;
}
.icon-reload:before {
  content: "\e95d";
  color: #1485ac;
}
.icon-right-arrow:before {
  content: "\e95e";
  color: #808080;
}
.icon-search:before {
  content: "\e960";
  color: #808080;
}
.icon-settings:before {
  content: "\e962";
  color: #808080;
}
.icon-share:before {
  content: "\e963";
  color: #fff;
}
.icon-shutdown:before {
  content: "\e979";
  color: #1485ac;
}
.icon-smart-phone:before {
  content: "\e965";
  color: #808080;
}
.icon-stairs:before {
  content: "\e967";
  color: #808080;
}
.icon-text-documents:before {
  content: "\e968";
  color: #808080;
}
.icon-timer:before {
  content: "\e969";
  color: #808080;
}
.icon-user-ft:before {
  content: "\e96c";
  color: #808080;
}
.icon-waste-bin:before {
  content: "\e96d";
  color: #808080;
}
.icon-wc-sign:before {
  content: "\e96e";
  color: #808080;
}
.icon-zalo .path1:before {
  content: "\e970";
  color: rgb(253, 254, 254);
}
.icon-zalo .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(1, 171, 211);
}
.icon-zalo .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(1, 171, 211);
}
.icon-zalo .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(1, 171, 211);
}
.icon-zalo .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(1, 171, 211);
}
.icon-zalo .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(1, 171, 211);
}
.icon-zalo .path7:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(1, 171, 211);
}
.icon-zalo .path8:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(253, 254, 254);
}
.icon-zalo .path9:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(253, 254, 254);
}
