.search-block {
  @media (max-width: 991px) {
    padding: 0;
    padding-right: rem(10);
  }

  @media (max-width: 575px) {
    order: 3;
    padding: rem(20) rem(15) 0;
  }

  .input-group {
    box-shadow: 0 1px 6px rgba(0,0,0,.075);
  }

  .form-control {
    height: rem(44);
    padding: rem(10) rem(20) rem(10) rem(20);
    border-right: 0;

    @media(max-width: 991px) {
      padding: rem(10);
    }
  }

  .btn {
    border-radius: 0;
    height: rem(44);
    width: rem(44);
    background: #fbf9fa;
    font-size: rem(14);
  }

  span:before {
    color: #a80038;
  }
}

label {
  position: relative;
}

[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before  {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background: #fff;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ed1857;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e909';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ed1857;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  border-radius: 100%;
}

[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after
 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.checkout-checkout {
  .card {
    border: 0;
  }

  legend {
    padding-top: rem(15);
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
    position: relative;
    background: none;
    padding: 0;
    border: 0;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background: #000;
    }

    .card-title {
      font-weight: 700;
      font-size: rem(18);
      padding-left: rem(10);
      a {
        color: #a80038;
      }
    }

    .step {
      width: rem(70);
      height: rem(44);
      color: #fff;
      font-size: rem(14);
      font-weight: 500;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #000;
    }
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
  }

  .form-check {
    padding-left: 0;
  }

  .accordion-toggle {
    border: none;
    box-shadow: none;
    background: none;
    font-weight: 700;
    outline: none;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: rem(20);
  }
}
.checkout-cart {
  .input-group {
    min-width: rem(135);
  }
}


#form-review {
  [type="radio"]:checked,
  [type="radio"]:not(:checked),
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
      position: relative;
      left: auto;
  }
}