{{ header }}
<div id="information-contact" class="container main">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1 class="title">{{ heading_title }}</h1>
      <h3 class="sub-title">{{ text_location }}</h3>
      <div class="card">
        <div class="card-body">
          <div class="row">
            {% if image %}
              <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail"/></div>
            {% endif %}
            <div class="col-sm-3"><strong>{{ store }}</strong>
              <br/>
              <address>
                {{ address }}
              </address>
              {# {% if geocode %}
                <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fas fa-map-marker"></i> {{ button_map }}</a>
              {% endif %} #}
            </div>
            <div class="col-sm-3"><strong>{{ text_telephone }}</strong>
              <br>
              {{ telephone }}
              <br/>
              <br/>
              {% if fax %}
                <strong>{{ text_fax }}</strong>
                <br>
                {{ fax }}
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if open %}
                <strong>{{ text_open }}</strong>
                <br/>
                {{ open }}
                <br/>
                <br/>
              {% endif %}
              {% if comment %}
                <strong>{{ text_comment }}</strong>
                <br/>
                {{ comment }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if locations %}
        <h3>{{ text_store }}</h3>
        <div id="accordion" class="card-group">
          {% for location in locations %}
            <div class="card">
              <div class="card-heading">
                <h4 class="card-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fas fa-caret-down"></i></a></h4>
              </div>
              <div class="card-collapse collapse" id="collapse-location{{ location.location_id }}">
                <div class="card-body">
                  <div class="row">
                    {% if location.image %}
                      <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail"/></div>
                    {% endif %}
                    <div class="col-sm-3"><strong>{{ location.name }}</strong>
                      <br/>
                      <address>
                        {{ location.address }}
                      </address>
                      {% if location.geocode %}
                        <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fas fa-map-marker"></i> {{ button_map }}</a>
                      {% endif %}
                    </div>
                    <div class="col-sm-3"><strong>{{ text_telephone }}</strong>
                      <br>
                      {{ location.telephone }}
                      <br/>
                      <br/>
                      {% if location.fax %}
                        <strong>{{ text_fax }}</strong>
                        <br>
                        {{ location.fax }}
                      {% endif %}
                    </div>
                    <div class="col-sm-3">
                      {% if location.open %}
                        <strong>{{ text_open }}</strong>
                        <br/>
                        {{ location.open }}
                        <br/>
                        <br/>
                      {% endif %}
                      {% if location.comment %}
                        <strong>{{ text_comment }}</strong>
                        <br/>
                        {{ location.comment }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>{{ text_contact }}</legend>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control"/>
              {% if error_name %}
                <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control"/>
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-enquiry">{{ entry_enquiry }}</label>
            <div class="col-sm-10">
              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
              {% if error_enquiry %}
                <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-right">
            <input class="btn btn-primary btn-pink" type="submit" value="{{ button_submit }}"/>
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
