{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-butopbanner" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-butopbanner" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
                <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %} 
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <ul class="nav nav-pills nav-stacked" id="module">
                {% set module_row = 1 %}
                {% for butopbanner_module in butopbanner_modules %}
                <li><a href="#tab-module{{ butopbanner_module.key }}" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$('a[href=\'#tab-module{{ butopbanner_module.key }}\']').parent().remove(); $('#tab-module{{ butopbanner_module.key }}').remove(); $('#module a:first').tab('show');"></i> {{ tab_module ~ ' ' ~ module_row }}</a></li>
                {% set module_row = module_row + 1 %}
                {% endfor %}
                <li id="module-add"><a onclick="addModule();"><i class="fa fa-plus-circle"></i> {{ button_module_add }}</a></li>
              </ul>
            </div>
            <div class="col-sm-10">
              <div class="tab-content">
                {% for butopbanner_module in butopbanner_modules %}
                <div class="tab-pane" id="tab-module{{ butopbanner_module.key }}">
                  <ul class="nav nav-tabs" id="language{{ butopbanner_module.key }}">
                    {% for language in languages %}
                    <li><a href="#tab-module{{ butopbanner_module.key }}-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                    {% endfor %}
                  </ul>
                  <div class="tab-content">
                    {% for language in languages %}
                    <div class="tab-pane" id="tab-module{{ butopbanner_module.key }}-language{{ language.language_id }}">
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-heading{{ butopbanner_module.key }}-language{{ language.language_id }}">{{ entry_heading }}</label>
                        <div class="col-sm-10">
                          <input type="text" name="butopbanner_module[{{ butopbanner_module.key }}][heading][{{ language.language_id }}]" placeholder="{{ entry_heading }}" id="input-heading{{ butopbanner_module.key }}-language{{ language.language_id }}" value="{% if (butopbanner_module.heading[language.language_id]) %}{{butopbanner_module.heading[language.language_id]}}{% endif %}" class="form-control" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-description{{ butopbanner_module.key }}-language{{ language.language_id }}">{{ entry_description }}</label>
                        <div class="col-sm-10">
                          <textarea name="butopbanner_module[{{ butopbanner_module.key }}][description][{{ language.language_id }}]" placeholder="{{ entry_description }}" id="input-description{{ butopbanner_module.key }}-language{{ language.language_id }}" class="form-control">{{ butopbanner_module.description[language.language_id] ? butopbanner_module.description[language.language_id] :'' }}</textarea>
                        </div>
                      </div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_url }}</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="http://" name="butopbanner_module[{{ butopbanner_module.key }}][link][{{ language.language_id }}]" value="{% if (butopbanner_module.link[language.language_id]  and  butopbanner_module.link[language.language_id] != '') %}{{ butopbanner_module.link[language.language_id] }}{% endif %}" id="input-url" />
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_image}}</label>
                                <div class="col-sm-10">
                                        <a href="" id="thumb-image_{{ butopbanner_module.key }}_{{ language.language_id }}" data-toggle="image" class="img-thumbnail">
                                            <img width="100" height="100" src="{% if (butopbanner_module.slider_image[language.language_id]  and  butopbanner_module.slider_image[language.language_id] != '') %}{{ constant('HTTPS_CATALOG') }}image/{{ butopbanner_module.slider_image[language.language_id] }}{% else %}{{ constant('HTTPS_CATALOG') }}image/cache/no_image-100x100.png{% endif %}" alt="no image" title="browse image" data-placeholder="browse image" />
                                        </a>
                                    <input type="hidden" name="butopbanner_module[{{ butopbanner_module.key}}][slider_image][{{ language.language_id }}]" value="{% if (butopbanner_module.slider_image[language.language_id]  and  butopbanner_module.slider_image[language.language_id] != '')%}{{ butopbanner_module.slider_image[language.language_id] }}{% endif %}" id="input-image-{{ butopbanner_module.key}}-{{language.language_id}}" />
                                </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
{% for butopbanner_module in butopbanner_modules %}
{% for language in languages %}
$('#input-description{{ butopbanner_module.key }}-language{{ language.language_id }}').summernote({
	height: 300
});
{% endfor %}
{% endfor %}
//--></script> 
  <script type="text/javascript"><!--
  var module_row = {{ module_row }};
  
function addModule() {
	var token = Math.random().toString(36).substr(2);
	
	butopbanner  = '<div class="tab-pane" id="tab-module' + token + '">';
	butopbanner += '  <ul class="nav nav-tabs" id="language' + token + '">';
    {% for language in languages %}
    butopbanner += '    <li><a href="#tab-module' + token + '-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>';
    {% endfor %}
	butopbanner += '  </ul>';

	butopbanner += '  <div class="tab-content">';

	{% for language in languages %}
	butopbanner += '    <div class="tab-pane" id="tab-module' + token + '-language{{ language.language_id }}">';
	butopbanner += '      <div class="form-group">';
	butopbanner += '        <label class="col-sm-2 control-label" for="input-heading' + token + '-language{{ language.language_id }}">{{ entry_heading }}</label>';
	butopbanner += '        <div class="col-sm-10"><input type="text" name="butopbanner_module[' + token + '][heading][{{ language.language_id }}]" placeholder="{{ entry_heading }}" id="input-heading' + token + '-language{{ language.language_id }}" value="" class="form-control"/></div>';
	butopbanner += '      </div>';
	butopbanner += '      <div class="form-group">';
	butopbanner += '        <label class="col-sm-2 control-label" for="input-description' + token + '-language{{ language.language_id }}">{{ entry_description }}</label>';
	butopbanner += '        <div class="col-sm-10"><textarea name="butopbanner_module[' + token + '][description][{{ language.language_id }}]" placeholder="{{ entry_description }}" id="input-description' + token + '-language{{ language.language_id }}"></textarea></div>';
	butopbanner += '      </div>';
        butopbanner += '      <div class="form-group">';
        butopbanner += '        <label class="col-sm-2 control-label" for="input-description' + token + '-language{{ language.language_id }}">{{ entry_url }}</label>';
        butopbanner += '        <div class="col-sm-10"><input placeholder="http://" type="text" name="butopbanner_module[' + token + '][link][{{ language.language_id }}]" value="" id="input-link" /></div>';
        butopbanner += '      </div>';
        butopbanner += '      <div class="form-group">';
        butopbanner += '        <label class="col-sm-2 control-label" for="input-description' + token + '-language{{ language.language_id }}">{{ entry_image }}</label>';
        butopbanner += '        <div class="col-sm-10"><a href="" id="thumb-image_' + token + '_{{ language.language_id }}" data-toggle="image" class="img-thumbnail"><img width="100" height="100" src="{{ constant('HTTPS_CATALOG') }}image/cache/no_image-100x100.png" alt="no image" title="browse image" data-placeholder="browse image" /></a><input type="hidden" name="butopbanner_module[' + token + '][slider_image][{{ language.language_id}}]" value="" id="input-image-{{ butopbanner_module.key}}-{{language.language_id}}" /></div>';
        butopbanner += '      </div>';
        
	butopbanner += '    </div>';
	{% endfor %}

	butopbanner += '  </div>';
	butopbanner += '</div>';

	$('.tab-content:first-child').prepend(butopbanner);

	{% for language in languages %}
	$('#input-description' + token + '-language{{ language.language_id }}').summernote({
		height: 300
	});
	{% endfor %}

	$('#module-add').before('<li><a href="#tab-module' + token + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$(\'a[href=\\\'#tab-module' + token + '\\\']\').parent().remove(); $(\'#tab-module' + token + '\').remove(); $(\'#module a:first\').tab(\'show\');"></i> {{ tab_module }} ' + module_row + '</a></li>');

	$('#module a[href=\'#tab-module' + token + '\']').tab('show');

	$('#language' + token + ' li:first-child a').tab('show');

	module_row++;
}
//--></script> 
  <script type="text/javascript"><!--
$('#module li:first-child a').tab('show');
{% for butopbanner_module in butopbanner_modules %}
$('#language{{ butopbanner_module.key }} li:first-child a').tab('show');
{% endfor %}
//--></script></div>
{{ footer }}