{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tlttag" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tlttag" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-tlttag-sort"><span data-toggle="tooltip" title="{{ help_sort }}">{{ entry_sort }}</label>
            <div class="col-sm-10">
              <select name="tlttag_sort" id="input-tlttag-sort" class="form-control">
                {% if module_tlttag_sort == '1' %}
                  <option value="1" selected="selected">{{ text_sortorder }}</option>
                  <option value="2">{{ text_dateasc }}</option>
                  <option value="3">{{ text_datedesc }}</option>
                {% elseif module_tlttag_sort == '2' %}
                  <option value="1">{{ text_sortorder }}</option>
                  <option value="2" selected="selected">{{ text_dateasc }}</option>
                  <option value="3">{{ text_datedesc }}</option>
                {% else %}
                  <option value="1">{{ text_sortorder }}</option>
                  <option value="2">{{ text_dateasc }}</option>
                  <option value="3" selected="selected">{{ text_datedesc }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_tlttag_status" id="input-status" class="form-control">
                {% if module_tlttag_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}